<div class="container">

  <!-- Actions -->
  <div class="tab-actions">
    <a md-raised-button class="mat-primary" routerLink="/admin/affiliates/form/create">
      <md-icon svgIcon="edit_white"></md-icon>
      <span> Create </span>
    </a>
  </div>

  <!-- Data Table -->
  <app-affiliate-data-table [displayedColumns]="displayedColumns" (onClickDelete)="onClickDeleteHandler($event)" (onClickSave)="onClickSave($event)"
    (onClickForm)="onClickFormHandler($event)">
  </app-affiliate-data-table>

</div>