@import '../../../../assets/sass/_globals';

.edit-workshop-container {
   min-height: 100vh;
   margin: $defaultMargin * 2;
}
.edit-workshop-header {
   margin: $defaultMargin;
}
@media only screen and (max-width: $mediumBreak) {
   .edit-workshop-container {
      margin: 0 0 $defaultMargin 0;
   }
}