<!-- All folders and files dealing with marketing assets go here -->
<md-card style="overflow-y: scroll;" class="md-whiteframe-3dp">
  <md-card-title>

    <span class="md-headline">Marketing</span>

  </md-card-title>
  <md-card-content>
    <div fxLayout="column" fxLayoutGap="8px">
      <div><span class="clickable" (click)="folder['Marketing']=!folder['Marketing']"><md-icon svgIcon="folder" aria-label="Open Marketing Graphics Folder"></md-icon> <b>Marketing Graphics</b> </span>
        <a class="mat-primary" target="_blank" href="https://usu.app.box.com/files/0/f/8549280365/Instructor_Evaluations">
          <md-icon svgFont="link"></md-icon>
        </a>
      </div>
      <ul *ngIf="folder['Marketing']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/j0w1vq36i8g06jsh91dzyen3fl2khtvu">
            <md-icon svgFont="insert_drive_file" aria-label="Open Licensed Affiliate and Facilitator Logos"></md-icon> Licensed Affiliate and Facilitator Logos</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/w6f4y8mxqtm1porzxbugbdolh6d10w1s">
            <md-icon svgFont="insert_drive_file" aria-label="Open Shingo Event Marketing"></md-icon> Shingo Event Marketing</a>
        </li>
      </ul>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/o1eo1g3v3vgyf8v4w9ti3q4sgk9bq2er">
        <md-icon svgFont="insert_drive_file" aria-label="Executive Overview Slides and Script"></md-icon> Executive Overview Slides and Script</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/2bsv94j28872qojn4so48djgxqm6si1h">
        <md-icon svgFont="insert_drive_file" aria-label="Marketing & Branding Guide"></md-icon> Marketing &amp; Branding Guide</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/9rw5th9xmwmhk6igsap93m3qxksz65jq">
        <md-icon svgFont="insert_drive_file" aria-label="Shingo Model Basics Booklet"></md-icon> Shingo Model Basics Booklet</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/ykr58oxd6sfh1dw4e368icplehoco9j2">
        <md-icon svgFont="insert_drive_file" aria-label="Shingo Prize Effects"></md-icon> Shingo Prize Effects</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/ryjeuxfrd6jtyihy4gt0crcc8yis3wot">
        <md-icon svgFont="insert_drive_file" aria-label="Marketing Kit for Upcoming Shingo Events"></md-icon> Marketing Kit for Upcoming Shingo Events</a>
    </div>
  </md-card-content>
</md-card>