<div class="container">

  <ng-container *ngIf="newFacilitator">
    <app-facilitator-form [facilitator]="newFacilitator"></app-facilitator-form>
  </ng-container>

  <div class="actions">
    <a md-raised-button class="mat-primary" routerLink="/admin/facilitators/form/create">
        <md-icon svgIcon="edit_white"></md-icon>
        <span> Create </span>
    </a>
  </div>
  <!-- Data Table -->
  <app-facilitator-data-table (onClickDisable)="onClickDisableHandler($event)"
                              (onClickDelete)="onClickDeleteHandler($event)"
                              (onClickReset)="resetPassword($event)"
                              (onClickSave)="onClickSaveHandler($event)"
                              (onLoadComplete)="isLoading = false">
  </app-facilitator-data-table>

  <div class="spinner-container">
    <md-spinner class="mat-accent" *ngIf="isLoading"></md-spinner>
  </div>

</div>