<div fill-height class="container">
   <h2 class="support-title">Affiliate Portal Support Page</h2>

   <div class="video-list-item">
      <div class="video-header">
         <md-icon svgIcon="label_outline"></md-icon>
         <p>Getting Started</p>
      </div>
      <div class="video-body">
         <p class="mat-subheading-2"> Learn how to use the affiliate portal through our online training videos. Start with the overview video to begin familiarizing yourself with the website. </p>
         <p class="mat-body-2">Getting Started: <a routerLink="/support/training">Affiliate Portal Overview</a></p>
      </div>
   </div>

   <h1 class="mat-subheading-2">Full List of Training Videos</h1>
   <div *ngFor="let video of videos; index as i">
      <a fxLayout fxLayoutGap="8px" routerLink="/support/training/{{i}}" *ngIf="video">

         <div>
            <img src="{{ video.thumbnail }}">
         </div>

         <div fxLayout="column">
            <p class="subheading-2">{{video.title}}</p>
            <p class="mat-caption">{{video.description}}</p>
         </div>

      </a>
      <md-divider></md-divider>
   </div>

</div>