<div class="support-page-container">
  <div class="page-header">
    <h1 class="mat-display-2">Support Home</h1>
    <p class="mat-headline">This is the support page where we will make you feel warm and fuzzy about the affiliate portal.</p>
  </div>

  <div class="page-body">
    <div class="support-categories-wrapper">
      <app-support-category></app-support-category>
    </div>

    <div class="support-search-wrapper">
      <app-support-search></app-support-search>
    </div>
  </div>

</div>