@import '../../../assets/sass/_globals';

.form-group-container {
  max-width: $break-medium;
  margin-bottom: 142px;
}
mat-form-field {
  width: 100%;
}
form .input-item:nth-child(even) {
  background-color: $row-background-color;
}
.form-actions {
  margin: ($default-margin * 2) 0 ($default-margin * 2) 0;
}
.input-item {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.input-item > p {
  margin: 0;
}
form {
  .facilitator-list {
    display: flex;
    flex-direction: row;

    .facilitator-item {
      margin-left: $default-margin * 2;
      margin-bottom: $default-margin;
      margin-top: $default-margin;
    }
  }
  .facilitator-list:nth-child(even) {
    background-color: $row-background-color;
  }
}
form mat-form-field input.autoComplete {
  width: fit-content;
}
form mat-form-field mat-hint.error {
  color: #ff0000;
}
