<md-card class="form-group-container">
  <form [formGroup]="workshopForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <h1 *ngIf="auth.user && auth.user.isAdmin">{{auth.user.name}} is an Affiliate Manager</h1>
    <div class="input-item">
      <p class="mat-caption"> {{ describe.public && describe.public.inlineHelpText }} </p>
      <md-checkbox formControlName="isPublic"> Yes, publish to web. </md-checkbox>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.workshopType && describe.workshopType.inlineHelpText }} </p>
      <md-select placeholder="{{ describe.workshopType && describe.workshopType.label || 'Type' }}" floatPlaceholder="auto" formControlName="type"
        required>
        <md-option *ngFor="let type of workshopTypes" [value]="type"> {{ type }} </md-option>
      </md-select>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.language && describe.language.inlineHelpText }} </p>
      <md-select placeholder="{{ describe.language && describe.language.label || 'Language' }}" floatPlaceholder="auto" required
        formControlName="language">
        <md-option *ngFor="let lang of languages" [value]="lang">{{ lang }}</md-option>
      </md-select>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.eventCity && describe.eventCity.inlineHelpText }} </p>
      <md-input-container>
        <input mdInput placeholder="{{ describe.eventCity && describe.eventCity.label || 'City' }}" required formControlName="city">
      </md-input-container>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.eventCountry && describe.eventCountry.inlineHelpText }} </p>

      <md-input-container>
        <input mdInput [mdAutocomplete]="autoEventCountry" placeholder="Event Country" formControlName="country" required>
      </md-input-container>

      <md-autocomplete #autoEventCountry="mdAutocomplete">
        <md-option *ngFor="let country of countryOptions" [value]="country"> {{ country }} </md-option>
      </md-autocomplete>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.hostSite && describe.hostSite.inlineHelpText }} </p>
      <md-input-container>
        <input mdInput placeholder="{{ describe.hostSite && describe.hostSite.label || 'Host Site' }}" required formControlName="hostSite">
      </md-input-container>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.billingContact && describe.billingContact.inlineHelpText }} </p>
      <md-input-container>
        <input mdInput placeholder="{{ describe.billingContact && describe.billingContact.label || 'Billing Contact' }}" required
          formControlName="billing">
      </md-input-container>
    </div>

    <div class="input-item" [style.flex-direction]="'row'" fxLayoutGap="16px">
      <div fxLayout="column">
        <p class="mat-caption"> {{ describe.startDate && describe.startDate.inlineHelpText }} </p>
        <md-input-container>
          <input mdInput [mdDatepicker]="startDatePicker" placeholder="{{ describe.startDate && describe.startDate.label || 'Start Date' }}"
            formControlName="startDate">
          <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
        </md-input-container>
        <md-datepicker #startDatePicker [startAt]="today"></md-datepicker>
      </div>

      <div fxLayout="column">
        <p class="mat-caption"> {{ describe.endDate && describe.endDate.inlineHelpText }} </p>
        <md-input-container>
          <input mdInput [mdDatepicker]="endDatePicker" placeholder="{{ describe.endDate && describe.endDate.label || 'End Date' }}"
            formControlName="endDate">
          <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
        </md-input-container>
        <md-datepicker #endDatePicker [startAt]="today"></md-datepicker>
      </div>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.courseManager && describe.courseManager.inlineHelpText }} </p>
      <md-input-container>
        <input mdInput [mdAutocomplete]="autoCourseManager" placeholder="Course Manager (e.g. John Doe)" formControlName="courseManager">
      </md-input-container>

      <md-autocomplete #autoCourseManager="mdAutocomplete" [displayWith]="contactDisplayWith.bind(this)">
        <md-option *ngFor="let cm of courseManagers" [value]="cm"> {{ cm.Name }} </md-option>
      </md-autocomplete>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.registrationWebsite && describe.registrationWebsite.inlineHelpText }} </p>
      <md-input-container>
        <input mdInput placeholder="{{ describe.registrationWebsite && describe.registrationWebsite.label || 'Registration URL' }}"
          formControlName="website">
      </md-input-container>
    </div>

    <div class="input-item">
      <md-input-container>
        <input mdInput formControlName="facilitator" placeholder="{{ describe.facilitator && describe.facilitator.label || 'Find Instructors' }}"
          [mdAutocomplete]="autoInstructors">
      </md-input-container>

      <md-autocomplete #autoInstructors="mdAutocomplete" [displayWith]="contactDisplayWith.bind(this)">
        <md-option *ngFor="let facilitator of facilitatorOpts" [value]="facilitator" (onSelectionChange)="onFacilitatorSelected(facilitator)">
          {{ facilitator.Name }} </md-option>
      </md-autocomplete>
    </div>

    <h5 *ngIf="workshop.instructors.length">Instructors</h5>
    <div class="facilitator" *ngFor="let facilitator of workshop.instructors">
      <div>
        <b>{{facilitator.Name}}</b><br>
        <i>{{facilitator.Email}}</i>
      </div>
      <button md-button type="button" (click)="workshop.removeInstructorById(facilitator.sfId)">
        <md-icon svgIcon="x_red"></md-icon>
      </button>
    </div>

    <div class="form-actions">
      <button md-raised-button type="submit" class="mat-primary" [disabled]="!workshopForm.valid || !workshop.facilitators.length">Save</button>
    </div>

  </form>

</md-card>