@import '../../../assets/sass/_globals';

.form-group-container {
   max-width: $break-medium;
   margin-bottom: 142px;
}
mat-form-field {
    width: 100%;
}
form .input-item:nth-child(even) {
   background-color: $row-background-color;
}
.form-actions {
   margin: ($default-margin * 2) 0 ($default-margin * 2) 0;
}
.input-item {
   padding: 8px;
   display: flex;
   flex-direction: column;
}
.input-item > p {
   margin: 0;
}
form .facilitator {
    padding: $default-margin;
    width: 30%;
    display: flex;
    vertical-align: middle;
}
form .facilitator > button {
    left: 23%;
    position: absolute;
}
form .facilitator:nth-child(even) {
    background-color: $row-background-color;
}
form .facilitator, form .facilitator > button {
    margin-left: $default-margin * 2;
}
form .facilitator > div {
    float: left
}
form mat-form-field input.autoComplete {
    width: fit-content;
}
form mat-form-field mat-hint.error {
  color: #ff0000;
}
div.search-spinner-wrapper {
  display: block;
  height: 36px;
  right: -36px;
  top: 6px;
}
div.search-spinner-wrapper {
  mat-spinner {
   position: absolute;
   top: 0;
   right: 0;
   height: 24px !important;
   width: 24px !important;
 
   svg {
     width: 24px !important;
     height: 24px !important;
   }
  }
 }