<mat-card class="form-group-container">
  <form [formGroup]="workshopForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <div class="input-item" *ngIf="auth.user && auth.user.isAdmin">
      <p class="mat-caption"> {{ describe.organizingAffiliate && describe.organizingAffiliate.inlineHelpText }} </p>
      <app-sf-lookup #afLookup formControlName="affiliate" (focusout)="checkValidSFObject(afLookup.lookup.controls.sfObject)" [sfObject]="workshop.affiliate"
        [displayFn]="contactDisplayWith.bind(this)" (onSelect)="onSelectAffiliate($event)" placeholder="{{ describe.organizingAffiliate && describe.organizingAffiliate.label || 'Affiliate'}}"></app-sf-lookup>
    </div>
    <div class="input-item">
      <p class="mat-caption"> {{ describe.public && describe.public.inlineHelpText }} </p>
      <mat-checkbox formControlName="isPublic"> Yes, publish to web. </mat-checkbox>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.workshopType && describe.workshopType.inlineHelpText }} </p>
      <mat-select placeholder="{{ describe.workshopType && describe.workshopType.label || 'Type' }}" floatPlaceholder="auto" formControlName="type"
        required>
        <mat-option *ngFor="let type of workshopTypes" [value]="type"> {{ type }} </mat-option>
      </mat-select>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.language && describe.language.inlineHelpText }} </p>
      <mat-select placeholder="{{ describe.language && describe.language.label || 'Language' }}" floatPlaceholder="auto" required
        formControlName="language">
        <mat-option *ngFor="let lang of languages" [value]="lang">{{ lang }}</mat-option>
      </mat-select>
    </div>

    <div class="input-item" *ngIf="auth.user && auth.user.isAdmin">
      <p class="mat-caption"> {{ describe.status && describe.status.inlineHelpText }} </p>
      <mat-select placeholder="{{ describe.status && describe.status.label || 'Workshop Status'}}" floatPlaceholder="auto" required
        formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.eventCity && describe.eventCity.inlineHelpText }} </p>
      <mat-form-field>
        <input matInput placeholder="{{ describe.eventCity && describe.eventCity.label || 'City' }}" required formControlName="city">
      </mat-form-field>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.eventCountry && describe.eventCountry.inlineHelpText }} </p>
      <mat-form-field>
        <input matInput [matAutocomplete]="autoEventCountry" placeholder="Event Country" formControlName="country" required>
      </mat-form-field>

      <mat-autocomplete #autoEventCountry="matAutocomplete">
        <mat-option *ngFor="let country of countryOptions" [value]="country"> {{ country }} </mat-option>
      </mat-autocomplete>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.hostSite && describe.hostSite.inlineHelpText }} </p>
      <mat-form-field>
        <input matInput placeholder="{{ describe.hostSite && describe.hostSite.label || 'Host Site' }}" required formControlName="hostSite">
      </mat-form-field>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.billingContact && describe.billingContact.inlineHelpText }} </p>
      <mat-form-field>
        <input matInput placeholder="{{ describe.billingContact && describe.billingContact.label || 'Billing Contact' }}" required
          formControlName="billing">
      </mat-form-field>
    </div>

    <div class="input-item" fxLayoutGap="16px" [formGroup]="dateFormGroup">
      <p class="md-warn-text" *ngIf="dateFormGroup.errors && dateFormGroup.errors['invalid date']"> &#42;{{ dateFormGroup.errors['invalid date'] }} </p>
      <div fxLayout="row" fxLayoutGap="8px">
        <div fxLayout="column">
          <p class="mat-caption"> {{ describe.startDate && describe.startDate.inlineHelpText }} </p>
          <!-- Start Date Picker -->
          <mat-form-field>
            <input required matInput [matDatepicker]="startDatePicker" placeholder="{{ describe.startDate && describe.startDate.label || 'Start Date' }}" 
              formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker [startAt]="dateFormGroup.get('startDate').value"></mat-datepicker>
          </mat-form-field>
        </div>
  
        <!-- End Date Picker -->
        <div fxLayout="column">
          <p class="mat-caption"> {{ describe.endDate && describe.endDate.inlineHelpText }} </p>
          <mat-form-field>
            <input required matInput [matDatepicker]="endDatePicker" placeholder="{{ describe.endDate && describe.endDate.label || 'End Date' }}"
              formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker [startAt]="dateFormGroup.get('endDate').value"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="input-item">
      <p class="mat-caption"> {{ describe.courseManager && describe.courseManager.inlineHelpText }} </p>
      <app-sf-lookup #cmLookup formControlName="courseManager" (focusout)="checkValidSFObject(cmLookup.lookup.controls.sfObject)"
        [sfObject]="workshop.courseManager" [displayFn]="contactDisplayWith.bind(this)" placeholder="Course Manager (e.g. John Doe)"
        [extraArgs]="getAffiliate()" (onSelect)="onSelectCourseManager($event)"></app-sf-lookup>
    </div>

    <div class="input-item" [style.display]="workshopForm.value.isPublic ? 'flex' : 'none'">
      <p class="mat-caption"> {{ describe.registrationWebsite && describe.registrationWebsite.inlineHelpText }} </p>
      <mat-form-field>
        <input matInput placeholder="{{ describe.registrationWebsite && describe.registrationWebsite.label || 'Registration URL' }}"
          formControlName="website" (keyup)="prefixWebsite()">
        <mat-hint align="start" *ngIf="workshopForm.controls.website.errors?.required" class="error">A registration website is required if the workshop is public</mat-hint>
        <mat-hint align="start" *ngIf="workshopForm.controls.website.errors?.url" class="error">'{{workshopForm.controls.website.value}}' is not a valid URL</mat-hint>
      </mat-form-field>
    </div>

    <div class="input-item">
      <app-sf-lookup formControlName="facilitator" [sfObject]="'facilitator'" [displayFn]="contactDisplayWith.bind(this)" (onSelect)="onFacilitatorSelected($event)"
        placeholder="{{ describe.facilitator && describe.facilitator.label || 'Find Instructors' }}"></app-sf-lookup>

      <div>
        <h4 class="mat-subheading" *ngIf="!workshop.instructors.length" class="warn">*Need to Add an Instructor</h4>
      </div>
    </div>

    <h5 *ngIf="workshop.instructors.length">Instructors</h5>
    <div class="facilitator" *ngFor="let facilitator of workshop.instructors">
      <div>
        <b>{{facilitator.Name}}</b><br>
        <i>{{facilitator.Email}}</i>
      </div>
      <button mat-button type="button" (click)="workshop.removeInstructorById(facilitator.sfId)">
        <mat-icon svgIcon="x_red"></mat-icon>
      </button>
    </div>

    <div class="form-actions" fxLayout="row" fxLayoutGap="8px">
      <button mat-raised-button type="submit" class="mat-primary" [disabled]="!workshopForm.valid || !workshop.facilitators.length">Save</button>
      <mat-spinner *ngIf="isLoading" [color]="'accent'"></mat-spinner>
    </div>

  </form>

</mat-card>