@import '../../../assets/sass/_globals';

.form-group-container {
   max-width: $mediumBreak;
   margin-bottom: 142px;
}
form .input-item:nth-child(even) {
   background-color: $rowBackground;
}
.form-actions {
   margin: ($defaultMargin * 2) 0 ($defaultMargin * 2) 0;
}
.input-item {
   padding: 8px;
   display: flex;
   flex-direction: column;
}
.input-item > p {
   margin: 0;
}

form .facilitator {
    padding: $defaultMargin;
    width: 50%;
}

form .facilitator > button {
    float: right;
}

form .facilitator:nth-child(even) {
    background-color: $rowBackground;
}

form .facilitator, form .facilitator > button {
    margin-left: $defaultMargin * 2;
}

form .facilitator > div {
    float: left
}