<mat-toolbar color="primary">
  <h2 mat-dialog-title>Affiliate Materials</h2>
  <div fxFlex></div>
  <button mat-icon-button [matDialogClose]="undefined">
    <mat-icon svgIcon="cancel_white"></mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content fxLayout="column" fxLayoutGap="16px">
  <app-workshop-materials *ngIf="!filter || filter['workshops']"></app-workshop-materials>
  <app-marketing-materials *ngIf="!filter || filter['marketing']"></app-marketing-materials>
  <app-forms-evals *ngIf="!filter || filter['forms']"></app-forms-evals>
</mat-dialog-content>
