@import '../../../../assets/sass/_globals';

.edit-workshop-container {
   min-height: 100vh;
   margin: $default-margin * 2;
}
.edit-workshop-header {
   margin: $default-margin;
}
@media only screen and (max-width: $break-medium) {
   .edit-workshop-container {
      margin: 0 0 $default-margin 0;
   }
}