<!-- All folders and files dealing with marketing assets go here -->
<mat-card style="overflow-y: scroll;" class="md-whiteframe-3dp">
  <mat-card-title>

    <span class="md-headline">Marketing</span>

  </mat-card-title>
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="8px">
      <div><span class="clickable" (click)="folder['Marketing']=!folder['Marketing']"><mat-icon svgIcon="folder" aria-label="Open Marketing Graphics Folder"></mat-icon> <b>Marketing Graphics</b> </span>
        <a class="mat-primary" target="_blank" href="https://usu.app.box.com/files/0/f/8549280365/Instructor_Evaluations">
          <mat-icon svgIcon="link"></mat-icon>
        </a>
      </div>
      <ul *ngIf="folder['Marketing']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/j0w1vq36i8g06jsh91dzyen3fl2khtvu">
            <mat-icon svgIcon="insert_drive_file" aria-label="Open Licensed Affiliate and Facilitator Logos"></mat-icon> Licensed Affiliate and Facilitator Logos</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/w6f4y8mxqtm1porzxbugbdolh6d10w1s">
            <mat-icon svgIcon="insert_drive_file" aria-label="Open Shingo Event Marketing"></mat-icon> Shingo Event Marketing</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/s539oi4s32r4f5fqustywn1mp848efl1">
            <mat-icon svgIcon="insert_drive_file" aria-label="Open Shingo Workshop Marketing"></mat-icon> Shingo Workshop Marketing</a>
        </li>
      </ul>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/o1eo1g3v3vgyf8v4w9ti3q4sgk9bq2er">
        <mat-icon svgIcon="insert_drive_file" aria-label="Executive Overview Slides and Script"></mat-icon> Executive Overview Slides and Script</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/vxb8uf4ls07vxtjxg784gm3epc1wl3kj">
        <mat-icon svgIcon="insert_drive_file" aria-label="Affiliate Marketing Guide"></mat-icon> Affiliate Marketing Guide</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/9rw5th9xmwmhk6igsap93m3qxksz65jq">
        <mat-icon svgIcon="insert_drive_file" aria-label="Shingo Model Basics Booklet"></mat-icon> Shingo Model Basics Booklet</a>
      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/ykr58oxd6sfh1dw4e368icplehoco9j2">
        <mat-icon svgIcon="insert_drive_file" aria-label="Shingo Prize Effects"></mat-icon> Shingo Prize Effects</a>
    </div>
  </mat-card-content>
</mat-card>