<form class="form-container" [formGroup]="formGroup" [class.loading-active]="isLoading" #formContainer id="disable-lastpass-search">

  <div class="spinner-container">
    <mat-spinner class="mat-accent" *ngIf="isLoading"></mat-spinner>
  </div>

  <div class="form-actions">
    <ng-container *ngIf="isDialog">
      <button mat-raised-button type="button" class="mat-accent" [matDialogClose]="facilitator" [disabled]="!formGroup.valid || facilitator.affiliate.sfId == ''"> Save </button>
      <button mat-raised-button type="button" [matDialogClose]="false"> Cancel </button>
    </ng-container>

    <ng-container *ngIf="!isDialog">
      <button mat-raised-button type="button" class="mat-accent" (click)="onSave()" [disabled]="!formGroup.valid || facilitator.affiliate.sfId == ''"> Save </button>
      <button mat-raised-button type="button" (click)="location.back()"> Cancel </button>
    </ng-container>
  </div>

  <div class="form-header">
    <h3> Facilitator Form </h3>
  </div>

  <div class="input-item">
    <app-sf-lookup placeholder="Email" [sfObject]="facilitator" formControlName="email" [displayFn]="displayFn.bind(this)" [extraArgs]="false"
      (onSelect)="onSelectFacilitator($event)" (onChange)="facilitator.email = $event"></app-sf-lookup>
  </div>

  <div class="input-item">
    <mat-form-field>
      <input matInput [(ngModel)]="facilitator.firstName" placeholder="First Name" formControlName="firstName" required>
    </mat-form-field>
  </div>

  <div class="input-item">
    <mat-form-field>
      <input matInput [(ngModel)]="facilitator.lastName" placeholder="Last Name" formControlName="lastName" required>
    </mat-form-field>
  </div>

  <div class="input-item">
    <mat-form-field>
      <input matInput [(ngModel)]="facilitator.title" formControlName="title" placeholder="Title">
    </mat-form-field>
  </div>

  <div class="input-item">
    <div class="facilitator-img">
      <img src="{{ facilitator.photo }}">
    </div>

    <mat-form-field>
      <input matInput [(ngModel)]="facilitator.photo" formControlName="photo" placeholder="Photograph URL">
    </mat-form-field>
  </div>

  <div class="input-item">
    <app-sf-lookup formControlName="affiliate" (onSelect)="onSelectAffiliate($event)" [sfObject]="facilitator.affiliate" [displayFn]="displayFn.bind(this)"
      placeholder="Affiliate"></app-sf-lookup>
  </div>

  <div class="input-item">
    <p class="mat-caption">*Facilitators must be assigned an affiliate to change their role type.</p>
    <mat-select [(ngModel)]="facilitator.role" placeholder="Role" formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role"> {{ role }}</mat-option>
    </mat-select>
  </div>

  <div class="form-actions">
    <ng-container *ngIf="isDialog">
      <button mat-raised-button type="button" class="mat-accent" [matDialogClose]="facilitator" [disabled]="!formGroup.valid || facilitator.affiliate.sfId == ''"> Save </button>
      <button mat-raised-button type="button" [matDialogClose]="false"> Cancel </button>
    </ng-container>

    <ng-container *ngIf="!isDialog">
      <button mat-raised-button type="button" class="mat-accent" (click)="onSave()" [disabled]="!formGroup.valid || facilitator.affiliate.sfId == ''"> Save </button>
      <button mat-raised-button type="button" (click)="location.back()"> Cancel </button>
    </ng-container>
  </div>

</form>