.form-container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
}
.input-item {
  flex: 1 0;
  display: flex;
  flex-direction: row;
}
.input-item > md-input-container {
  flex: 1 0;
  margin-right: 16px;
}
.facilitator-img {
  max-height: 100px;
  max-width: 100px;
}
.facilitator-img img {
  height: 100%;
  width: 100%;
}