<div class="container">

  <ng-container *ngIf="newFacilitator">
    <app-facilitator-form [facilitator]="newFacilitator"></app-facilitator-form>
  </ng-container>

  <div class="actions">
    <a mat-raised-button class="mat-primary" routerLink="/admin/facilitators/form/create">
      <mat-icon svgIcon="edit_white"></mat-icon>
      <span> Create </span>
    </a>
  </div>

  <!-- Facilitator Search Filter -->
  <mat-form-field floatPlaceholder="auto">
    <input matInput placeholder="Search..." [formControl]="nameFilterControl">
  </mat-form-field>

  <!-- Data Table -->
  <app-facilitator-data-table [filters]="filters" (disabled)="onDisable($event)" (deleted)="onDelete($event)" (reset)="onResetPassword($event)"
    (saved)="onSave($event)" (loadCompleted)="isLoading = false">
  </app-facilitator-data-table>
</div>
