<div class="filter-options-container" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="16px">
        <a md-raised-button class="mat-primary" routerLink="/workshops/new">
            <md-icon svgIcon="edit_white"></md-icon>
            <span>Add Workshop</span>
        </a>
        <div class="filter-options-header">
            <button md-raised-button (click)="toggleFilters()">Advanced Filter Options &ensp;<md-icon [svgIcon]="showFilters ? 'expand_less' : 'expand_more'"></md-icon></button>
        </div>
    </div>
    <div #filterBox class="filter-options-body" fxLayout="column" fxLayoutGap="36px" [style.opacity]="showFilters ? '1' : '0'"
        [style.height]="showFilters ? '275px' : '0'">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="20%">
                <h4 class="mat-subheading">Filter:
                    <button md-raised-button type="button" (click)="clearFilters()">
                        Clear <md-icon svgIcon="x_red"></md-icon>
                    </button>
                </h4>
                <md-checkbox *ngFor="let filter of filterOptions; let i = index" [value]="filter" [id]="i">{{ filter }}</md-checkbox>
            </div>
            <div fxLayout="column" fxFlex="80%" fxLayoutGap="16px">
                <h3 class="mat-subheading" *ngIf="showTextFilter || showDateRange || showStatusFilter">Special Filters</h3>

                <div fxLayout="row" fxLayoutGap="8px" [style.display]="showStatusFilter ? 'flex' : 'none'">
                    <md-select [style.width]="'100%'" #statusSelect="mdSelect" placeholder="Status" [(ngModel)]="selectedStatuses" (change)="selectedStatusChanged($event)"
                        multiple="true" floatPlaceholder="auto">
                        <md-option *ngFor="let status of statuses" [value]="status">{{status}}</md-option>
                    </md-select>
                </div>

                <div fxLayout="row" fxLayoutGap="8px" [style.display]="showTextFilter ? 'flex' : 'none'">
                    <md-form-field>
                        <input mdInput #textSearchInput placeholder="filter..." [(ngModel)]="textSearch">
                        <md-icon mdSuffix svgIcon="search_grey"></md-icon>
                    </md-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="8px" [style.display]="showDateRange ? 'flex' : 'none'">
                    <div fxLayout="column">
                        <div fxLayout fxLayoutGap="8px">
                            <p class="text-md" [style.color]="'#757575'">Date</p>

                            <md-form-field floatPlaceholder="always">
                                <input mdInput [mdDatepicker]="startDateFilterPicker" placeholder="From" #startDFInput>
                                <md-datepicker-toggle mdSuffix [for]="startDateFilterPicker"></md-datepicker-toggle>
                                <md-datepicker #startDateFilterPicker></md-datepicker>
                            </md-form-field>

                            <md-form-field floatPlaceholder="always">
                                <input mdInput [mdDatepicker]="endDateFilterPicker" placeholder="To" #endDFInput>
                                <md-datepicker-toggle mdSuffix [for]="endDateFilterPicker"></md-datepicker-toggle>
                                <md-datepicker #endDateFilterPicker></md-datepicker>
                            </md-form-field>
                            <button md-button type="button" (click)="clearDateFilter()">
                                <md-icon svgIcon="x_red"></md-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <app-workshop-data-table [filters]="filters" [displayedColumns]="displayedColumns" (editClick)="goToWorkshopEdit($event)"></app-workshop-data-table>
</div>