@import '../../../assets/sass/_globals';

.filter-options-container {
  padding: $default-margin * 2;
}
.filter-options-container > app-workshop-table {
  margin-top: ($default-margin * 8);
}
.filter-option {
  font-size: 14px;
  color: #757575;
  font-weight: 300;
}
