@import '../../../../assets/sass/_globals';

.filter-options-container {
   padding: $defaultMargin * 2;
}
.filter-options-container > app-workshop-table {
   margin-top: ($defaultMargin * 8);
}
.filter-option {
   font-size: 14px;
   color: #757575;
   font-weight: 300;
}
.filter-options-body {
    -moz-transition: height .5s ease-in-out, opacity .5s ease-in-out;
    -webkit-transition: height .5s ease-in-out, opacity .5s ease-in-out;
    transition: height .5s ease-in-out, opacity .5s ease-in-out;
    overflow: hidden;
    padding: $defaultMargin * 2;
    margin: $defaultMargin;
    box-shadow: 3px 3px 3px #e4e4e4;
    border: 1px solid #e4e4e4;
    background: ghostwhite;
    height: 0;
    opacity: 0;
}