<div class="card">
  <app-icon-legend [displayedIcons]="displayedIcons"></app-icon-legend>
  <!-- <mat-table #table [dataSource]="dataSource" [disableClear]="true" matSort> -->
  <mat-table #table [dataSource]="dataSource" matSort [matSortDisableClear]="true" class="admin-data-table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Facilitator </mat-header-cell>
      <mat-cell *matCellDef="let fac" class="dt-name-cell">

        <span [class.hidden]="selectedId == fac.sfId">
          <p class="margin-none word-nowrap"> {{ fac.lastName }}, {{ fac.firstName }} </p>
          <p class="mat-caption word-nowrap grey-text margin-none"> {{ fac.title }} </p>
        </span>

        <mat-form-field [class.hidden]="selectedId != fac.sfId">
          <input matInput class="fac-input" [(ngModel)]="fac.name">
        </mat-form-field>

      </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let fac" class="dt-email-cell">

        <span [class.hidden]="selectedId == fac.sfId">{{ fac.email }}</span>

        <mat-form-field [class.hidden]="selectedId != fac.sfId">
          <input matInput class="fac-input" [(ngModel)]="fac.email">
        </mat-form-field>

      </mat-cell>
    </ng-container>

    <!-- Affiliate Column -->
    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Affiliate </mat-header-cell>
      <mat-cell *matCellDef="let fac"> {{ fac.affiliate.name }} </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
      <mat-cell *matCellDef="let fac">
        <span [class.hidden]="selectedId == fac.sfId"> {{ fac.role }} </span>

        <mat-select [class.hidden]="selectedId != fac.sfId" [(ngModel)]="fac.role">
          <mat-option *ngFor="let role of roles" [value]="role"> {{ role }}</mat-option>
        </mat-select>

      </mat-cell>
    </ng-container>

    <!-- Last Login Column -->
    <ng-container matColumnDef="lastLogin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </mat-header-cell>
      <mat-cell *matCellDef="let fac" class="dt-last-login-cell">
        <p class="word-nowrap">{{ fac.lastLogin }}</p>
      </mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [style.align-items]="'center'">
        <span> Actions </span>
        <span fxFlex></span>
        <button class="refresh-button" mat-icon-button (click)="refresh()">
          <mat-icon svgIcon="refresh_grey"></mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let fac" fxLayout fxLayoutGap="2px" class="dt-actions-cell">
        <!-- Action Buttons -->
        <ng-container *ngIf="selectedId != fac.sfId">
          <button mat-mini-fab (click)="loginAs(fac)">
            <mat-icon class="icon-sm" svgIcon="supervisor_account_white"></mat-icon>
          </button>

          <button mat-mini-fab (click)="selectedId = fac.sfId">
            <mat-icon class="icon-sm" svgIcon="edit_mode_white"></mat-icon>
          </button>

          <a mat-mini-fab routerLink="/admin/facilitators/form/{{ fac.sfId }}">
            <mat-icon class="icon-sm" svgIcon="description_white"></mat-icon>
          </a>

          <button mat-mini-fab color="primary" (click)="reset.emit(fac)">
            <mat-icon class="icon-sm" svgIcon="renew_white"></mat-icon>
          </button>

          <button mat-mini-fab color="primary" (click)="disabled.emit(fac)">
            <mat-icon class="icon-sm" svgIcon="block_white"></mat-icon>
          </button>

          <button mat-mini-fab color="primary" (click)="deleted.emit(fac)">
            <mat-icon class="icon-sm" svgIcon="delete_white"></mat-icon>
          </button>
        </ng-container>

        <!-- Edit Row Actions -->
        <ng-container *ngIf="selectedId == fac.sfId">
          <button mat-mini-fab color="primary" (click)="selectedId = ''">
            <mat-icon svgIcon="cancel_white"></mat-icon>
          </button>

          <button mat-mini-fab (click)="saved.emit(fac)">
            <mat-icon svgIcon="save_white"></mat-icon>
          </button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let fac; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner class="mat-accent"></mat-spinner>
  </div>

  <mat-paginator #paginator [length]="facilitatorDataProvider.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
