@import '../../../app-theme';

mat-cell > mat-form-field {
  width: 100%;
}

mat-cell:not(:last-of-type),
mat-header-cell:not(:last-of-type) {
  padding-right: 10px;
}

.actions {
  display: flex;
  flex-flow: row wrap;
}

.actions button,
.actions a {
  margin: 2px;
}
