<div class="card">
   <app-icon-legend [displayedIcons]="displayedIcons"></app-icon-legend>
   <md-table #table [dataSource]="dataSource" [mdSortDisableClear]="true" mdSort>
   
      <!-- Name Column -->
      <ng-container cdkColumnDef="name">
         <md-header-cell *cdkHeaderCellDef md-sort-header> Facilitator </md-header-cell>
         <md-cell *cdkCellDef="let fac">
   
            <span [class.hidden]="selectedId == fac.sfId"> 
              <p class="margin-none"> {{ fac.name }}  </p>
              <p class="mat-caption grey-text margin-none"> {{ fac.title }} </p>
            </span>
   
            <md-input-container [class.hidden]="selectedId != fac.sfId">
               <input mdInput class="fac-input" [(ngModel)]="fac.name">
            </md-input-container>
   
         </md-cell>
      </ng-container>
   
      <!-- Email Column -->
      <ng-container cdkColumnDef="email">
         <md-header-cell *cdkHeaderCellDef md-sort-header> Email </md-header-cell>
         <md-cell *cdkCellDef="let fac">
   
            <span [class.hidden]="selectedId == fac.sfId">{{ fac.email }}</span>
   
            <md-input-container [class.hidden]="selectedId != fac.sfId">
               <input mdInput class="fac-input" [(ngModel)]="fac.email">
            </md-input-container>
   
         </md-cell>
      </ng-container>
   
      <!-- Affiliate Column -->
      <ng-container cdkColumnDef="organization">
         <md-header-cell *cdkHeaderCellDef md-sort-header> Affiliate </md-header-cell>
         <md-cell *cdkCellDef="let fac"> {{ fac.affiliate.name }} </md-cell>
      </ng-container>
   
      <!-- Role Column -->
      <ng-container cdkColumnDef="role">
        <md-header-cell *cdkHeaderCellDef md-sort-header> Role </md-header-cell>
        <md-cell *cdkCellDef="let fac">
           <span [class.hidden]="selectedId == fac.sfId"> {{ fac.role }} </span> 

          <md-select [class.hidden]="selectedId != fac.sfId" [(ngModel)]="fac.role">
            <md-option *ngFor="let role of roles" [value]="role"> {{ role }}</md-option>
          </md-select>

        </md-cell>
      </ng-container>

      <!-- Actions -->
      <ng-container cdkColumnDef="actions">
         <md-header-cell *cdkHeaderCellDef [style.align-items]="'center'">
            <span> Actions </span>
            <span fxFlex></span>
            <button class="refresh-button" md-icon-button (click)="refresh()"><md-icon svgIcon="refresh_grey"></md-icon></button>
         </md-header-cell>
         <md-cell *cdkCellDef="let fac" fxLayout>
           <!-- Action Buttons -->
            <ng-container *ngIf="selectedId != fac.sfId">
               <button md-icon-button (click)="selectedId = fac.sfId">
                  <md-icon class="icon-sm" svgIcon="edit_mode_grey"></md-icon>
               </button>

               <button md-icon-button (click)="onDelete.emit(fac)">
                  <md-icon class="icon-sm" svgIcon="delete_grey"></md-icon>
               </button>
      
               <button md-icon-button (click)="onDisable.emit(fac)">
                  <md-icon class="icon-sm" svgIcon="block_grey"></md-icon>
               </button>
   
               <button md-icon-button (click)="onReset.emit(fac)">
                  <md-icon class="icon-sm" svgIcon="renew_grey"></md-icon>
               </button>

               <a md-icon-button routerLink="/admin/facilitators/form/{{ fac.sfId }}">
                 <md-icon class="icon-sm" svgIcon="description_grey"></md-icon>
               </a>
            </ng-container>

            <!-- Edit Row Actions -->
            <ng-container *ngIf="selectedId == fac.sfId">
              <button md-button (click)="selectedId = ''">
                 <md-icon svgIcon="cancel_grey"></md-icon>
                 <span>Cancel</span>
              </button>

              <button md-button (click)="onSave.emit(fac)">
                 <md-icon svgIcon="save_grey"></md-icon>
                 <span>Save</span>
              </button>
            </ng-container>
         </md-cell>
      </ng-container>
   
      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let fac; columns: displayedColumns;"></md-row>
   </md-table>
   
    <div class="spinner-container" *ngIf="isLoading">
      <md-spinner class="mat-accent"></md-spinner>
    </div>

   <md-paginator #paginator [length]="facilitatorDataProvider.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></md-paginator>
</div>