@import '../../../app-theme';

mat-form-field { width: 100%; }

.fac-input {
   background-color: #efefef;
   padding: 3px;
   border-radius: 2px;
   width: 97%;
   font-weight: 300;
}
mat-icon.icon-sm {
  height: 18px;
  width: 18px;
}