@import '../../../app-theme';

md-input-container { width: 100%; }

.fac-input {
   background-color: $primary-color;
   color: white;
   padding: 3px;
   border-radius: 2px;
   width: 97%;
   font-weight: 300;
}
md-icon.icon-sm {
  height: 18px;
  width: 18px;
}