<div class="login-page-wrapper shingo-bg">

  <!-- Login Form -->
  <div class="login-form-container" *ngIf="didLoad">
    <div class="login-form-header">
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1392063084/Shingo_Logo_mini_nzegar.png">
      <h1 class="md-accent-text mat-title">Shingo Affiliate Portal</h1>
    </div>

    <div class="md-spinner-container">
      <md-spinner *ngIf="isLoading"></md-spinner>
    </div>

    <div class="message-container">
      <p class="md-warn-text" *ngIf="errMsg" [innerHTML]="errMsg"></p>
      <code class="md-warn-text" *ngIf="errBody" [innerHTML]="errBody"></code>
    </div>

    <form class="login-form">
      <md-input-container floatPlaceholder="always">
        <input mdInput type="text" [(ngModel)]="email" name="email" placeholder="email">
      </md-input-container>

      <md-input-container floatPlaceholder="always">
        <input mdInput type="password" [(ngModel)]="password" name="password" placeholder="password" (keyup.enter)="onSubmit()">
      </md-input-container>
    </form>

    <div class="login-actions">
      <button md-raised-button class="mat-primary" type="button" (click)="onSubmit()" [disabled]="isLoading">Login</button>
      <a routerLink="/forgotpassword">Forgot Password?</a>
      <a href="#">Help?</a>
    </div>

  </div>

</div>