.add-workshop {
   font-weight: 300;
   margin: 0 0 0 12px;
}
.course-type {
   display: flex;
}
.course-type img {
   margin-left: 12px;
}
@media only screen and (max-width: 480px) {
   .course-type img {
      margin: 0 auto;
   }
}
.past-due {
   background-color: #ffd8c9;
}
.in-grace-period {
   background-color: #c3cfdc;
}
mat-row {
   cursor: pointer;
}
mat-row.past-due:hover {
   background-color: #DDC4BC;
}
mat-row.in-grace-period:hover {
   background-color: #B7BFC7;
}
.action-type-header-cell,
.action-type-cell {
   flex: 1 0;
}
.workshop-type-header-cell,
.workshop-type-cell {
   flex: 2 0;
}
.due-date-header-cell,
.due-date-cell {
   flex: 1 0;
}
.days-late-header-cell,
.days-late-cell {
   flex: 1 0;
}
.instructors-header-cell,
.instructors-cell {
   flex: 1 0;
}
div.spinner-container {
  width: 100%;
  text-align: center;
  background: white;
}
div.spinner-container mat-spinner {
  display: inline-block;
  max-width: 25px;
  max-height: 25px;
  padding: 8px;
}
button.refresh-button {
  margin-left: 15%;
}
