<mat-table
  #table
  matSort
  [dataSource]="dataSource"
  [trackBy]="workshopTrackBy"
  [matSortDisableClear]="true"
>
  <!-- Workshop Type Column -->
  <ng-container [matColumnDef]="properties.workshopType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.workshopType }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      <ng-container *ngIf="selectedSfId != workshop.sfId">
        <img src="{{ workshop.image }}" />
      </ng-container>

      <ng-container *ngIf="selectedSfId == workshop.sfId">
        <mat-select
          floatPlaceholder="never"
          placeholder="Course Type"
          [(ngModel)]="workshop.type"
        >
          <mat-option *ngFor="let type of CourseTypes" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Action Type Column -->
  <ng-container [matColumnDef]="properties.actionType">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.actionType }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop"> {{ workshop.status }} </mat-cell>
  </ng-container>

  <!-- Location Column -->
  <ng-container [matColumnDef]="properties.location">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.location }}
    </mat-header-cell>
    <mat-cell
      *matCellDef="let workshop"
      fxLayout="column"
      fxLayoutAlign="center start"
      class="location-cell"
    >
      <p>{{ workshop.city }}</p>
      <p *ngIf="workshop.country !== ''" [style.font-size]="'12px'">
        {{ workshop.country }}
      </p>
    </mat-cell>
  </ng-container>

  <!-- Start Date Column -->
  <ng-container [matColumnDef]="properties.startDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.startDate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      <ng-container *ngIf="selectedSfId != workshop.sfId">
        {{ workshop.startDateFormatted }}
      </ng-container>

      <ng-container *ngIf="selectedSfId == workshop.sfId">
        <mat-form-field class="workshop-date-picker-form-field">
          <input
            matInput
            [matDatepicker]="startDatePicker"
            (dateChange)="dateChange($event, workshop, 'startDate')"
            [value]="workshop.startDate"
            [max]="workshop.endDate"
          />
          <mat-datepicker
            #startDatePicker
            [startAt]="workshop.startDate"
          ></mat-datepicker>
          <mat-datepicker-toggle
            matSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
        </mat-form-field>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- End Date Column -->
  <ng-container [matColumnDef]="properties.endDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.endDate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      <ng-container *ngIf="selectedSfId != workshop.sfId">
        {{ workshop.endDateFormatted }}
      </ng-container>

      <ng-container *ngIf="selectedSfId == workshop.sfId">
        <mat-form-field class="workshop-date-picker-form-field">
          <input
            matInput
            [matDatepicker]="endDatePicker"
            (dateChange)="dateChange($event, workshop, 'endDate')"
            [value]="workshop.endDate"
            [min]="workshop.startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #endDatePicker
            [startAt]="workshop.endDate"
          ></mat-datepicker>
        </mat-form-field>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Start Time Column -->
  <ng-container [matColumnDef]="properties.startTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.startTime }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      {{ workshop.startTimeFormatted }}
    </mat-cell>
  </ng-container>

  <!-- End Time Column -->
  <ng-container [matColumnDef]="properties.endTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      End Time
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      {{ workshop.endTimeFormatted }}
    </mat-cell>
  </ng-container>

  <!-- Relative Start Time Column -->
  <ng-container [matColumnDef]="properties.relStartTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.relStartTime }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      {{ workshop.relStartTimeFormatted }}
    </mat-cell>
  </ng-container>

  <!-- End Time Column -->
  <ng-container [matColumnDef]="properties.relEndTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.relEndTime }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      {{ workshop.relEndTimeFormatted }}
    </mat-cell>
  </ng-container>

  <!-- Days Late Column -->
  <ng-container [matColumnDef]="properties.daysLate">
    <mat-header-cell *matHeaderCellDef> {{ labels.daysLate }} </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      Due: {{ formatDaysLate(workshop) }}
    </mat-cell>
  </ng-container>

  <!-- Instructors Column -->
  <ng-container [matColumnDef]="properties.instructors">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.instructors }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      <em *ngIf="!workshop.instructors.length">No Instructors</em>
      <p [style.margin]="'0'">{{ workshop.instructors.join(', ') }}</p>
    </mat-cell>
  </ng-container>

  <!-- Status Column -->
  <ng-container [matColumnDef]="properties.status">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.status }}
    </mat-header-cell>

    <mat-cell *matCellDef="let workshop">
      <ng-container *ngIf="selectedSfId != workshop.sfId">
        {{ workshop.status }}
      </ng-container>

      <ng-container *ngIf="selectedSfId == workshop.sfId">
        <mat-select floatPlaceholder="never" [(ngModel)]="workshop.status">
          <mat-option *ngFor="let status of Statuses" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Verified Column -->
  <ng-container [matColumnDef]="properties.verified">
    <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="center">
      {{ labels.verified }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      <mat-icon style="color: #4bae4f" *ngIf="workshop.isVerified"
        >check_circle</mat-icon
      >
      <mat-icon style="color: #f44336" *ngIf="!workshop.isVerified"
        >cancel</mat-icon
      >
    </mat-cell>
  </ng-container>

  <!-- Edit Button Column -->
  <ng-container [matColumnDef]="properties.edit">
    <mat-header-cell *matHeaderCellDef>
      {{ labels.edit }}
      <button class="refresh-button" mat-button (click)="refresh()">
        <mat-icon style="color: #757575">refresh</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">
      <button (click)="onEdit(workshop.sfId)" mat-raised-button>
        Edit &ensp;<mat-icon>edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Due Date Column -->
  <ng-container [matColumnDef]="properties.dueDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.dueDate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop"> {{ workshop.dueDate }} </mat-cell>
  </ng-container>

  <!-- Host City Column -->
  <ng-container [matColumnDef]="properties.hostCity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.hostCity }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop"> {{ workshop.city }} </mat-cell>
  </ng-container>

  <!-- Host Country Column -->
  <ng-container [matColumnDef]="properties.hostCountry">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ labels.hostCountry }}
    </mat-header-cell>
    <mat-cell *matCellDef="let workshop">{{ workshop.country }} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container [matColumnDef]="properties.actions">
    <mat-header-cell *matHeaderCellDef> {{ labels.actions }} </mat-header-cell>
    <mat-cell *matCellDef="let workshop" class="actions">
      <!-- Non Editing Mode -->
      <ng-container *ngIf="selectedSfId != workshop.sfId">
        <button
          mat-mini-fab
          matTooltip="Edit"
          aria-label="Edit workshop inline"
          color="accent"
          (click)="selectedWorkshop = workshop"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-mini-fab
          matTooltip="View Detail"
          aria-label="View workshop detail"
          color="accent"
          (click)="onSelectWorkshop(workshop)"
        >
          <mat-icon>description</mat-icon>
        </button>

        <button
          mat-mini-fab
          matTooltip="Delete"
          aria-label="Delete workshop"
          color="warn"
          (click)="delete(workshop)"
          *ngIf="authService.user?.isAdmin"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>

      <!-- Edit Mode -->
      <ng-container *ngIf="selectedSfId == workshop.sfId">
        <button
          mat-mini-fab
          matTooltip="Discard Changes"
          aria-label="Discard changes"
          color="warn"
          (click)="selectedWorkshop = null"
        >
          <mat-icon>cancel</mat-icon>
        </button>

        <button
          mat-mini-fab
          matTooltip="Save"
          aria-label="Save changes"
          color="accent"
          (click)="save(workshop); this.selectedWorkshop = null"
        >
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    [id]="workshop.sfId"
    *matRowDef="let workshop; columns: displayedColumns"
    [ngClass]="{
      'past-due': isPastDue(workshop),
      'in-grace-period': isDue(workshop)
    }"
  ></mat-row>
</mat-table>

<div fxLayout fxLayoutAlign="center center" *ngIf="isLoading">
  <mat-spinner diameter="48"></mat-spinner>
</div>

<mat-paginator
  #paginator
  [length]="_workshopDataProvider.size | async"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]"
></mat-paginator>
