<div class="icon-legend-container">
   <ng-container *ngFor="let icon of displayedIcons">
      <div [ngSwitch]="icon" class="icon-legend-item">
         <ng-template [ngSwitchCase]="'edit'">
            <mat-icon svgIcon="edit_mode_grey"></mat-icon>
            <p> = Edit </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'delete'">
            <mat-icon svgIcon="delete_grey"></mat-icon>
            <p> = Delete </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'deleteAccount'">
            <mat-icon svgIcon="delete_grey"></mat-icon>
            <p> = Delete Account </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'disable'">
            <mat-icon svgIcon="block_grey"></mat-icon>
            <p> = Disable Account </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'save'">
            <mat-icon svgIcon="save_grey"></mat-icon>
            <p> = Save </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'reset'">
            <mat-icon svgIcon="renew_grey"></mat-icon>
            <p> = Reset Password </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'cancel'">
            <mat-icon svgIcon="cancel_grey"></mat-icon>
            <p> = Cancel </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'form'">
           <mat-icon svgIcon="description_grey"></mat-icon>
           <p> = Open Edit Detail </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'accept'">
           <mat-icon svgIcon="checkmark_grey"></mat-icon>
           <p> = Accept </p>
         </ng-template>

         <ng-template [ngSwitchCase]="'refresh'">
           <mat-icon svgIcon="refresh_grey"></mat-icon>
           <p> = Refresh </p>
         </ng-template>

          <ng-template *ngSwitchDefault></ng-template> 
      </div>
   </ng-container>
</div>