.logo-cell {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 100%;
}
.logo-img {
  text-align: center;
  vertical-align: middle;
}
.logo-cell > img {
   height: 100%;
}
mat-form-field input {
  background-color: #efefef;
  padding: 3px;
  border-radius: 2px;
  width: 97%;
}
button.refresh-button {
  margin-left: 15%;
}