<div class="card">

  <app-icon-legend [displayedIcons]="displayedIcons"></app-icon-legend>

  <!-- <mat-table #table [dataSource]="dataSource" matSort [disableClear]="true"> -->
  <mat-table #table [dataSource]="dataSource" matSort [matSortDisableClear]="true" class="admin-data-table">

    <!-- Logo Column -->
    <ng-container matColumnDef="logo">
      <mat-header-cell *matHeaderCellDef> Logo </mat-header-cell>
      <mat-cell *matCellDef="let aff" class="logo-cell" fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngIf="selectedId != aff.sfId">
          <img [src]="aff.logo">
        </ng-container>

        <div *ngIf="selectedId == aff.sfId" fxLayout="column" fxLayoutAlign="start center">
          <img [src]="aff.logo">
          <mat-form-field [style.margin-left]="'8px'">
            <input matInput [(ngModel)]="aff.logo">
          </mat-form-field>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Affiliate </mat-header-cell>
      <mat-cell *matCellDef="let aff">
        <ng-container *ngIf="selectedId != aff.sfId">
          {{ aff.name }}
        </ng-container>

        <ng-container *ngIf="selectedId == aff.sfId">
          <mat-form-field>
            <input matInput [(ngModel)]="aff.name">
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="website">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Website </mat-header-cell>
      <mat-cell *matCellDef="let aff">
        <ng-container *ngIf="selectedId != aff.sfId">
          <a [href]="aff.website" target="_blank">{{aff.website}}</a>
        </ng-container>

        <ng-container *ngIf="selectedId == aff.sfId">
          <mat-form-field>
            <input matInput [(ngModel)]="aff.website">
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [style.align-items]="'center'">
        <span> Actions </span>
        <span fxFlex></span>
        <button class="refresh-button" mat-icon-button (click)="refresh()">
          <mat-icon style="color: #757575">refresh</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let aff" fxLayout fxLayoutGap="2px" class="dt-actions-cell">
        <ng-container *ngIf="selectedId != aff.sfId">
          <button mat-mini-fab matTooltip="Edit" aria-label="Edit Affiliate" (click)="selectedId = aff.sfId">
            <mat-icon>edit</mat-icon>
          </button>

          <a mat-mini-fab matTooltip="View Affiliate Detail" aria-label="View Affiliate Detail" routerLink="/admin/affiliates/form/{{ aff.sfId }}">
            <mat-icon>description</mat-icon>
          </a>

          <button mat-mini-fab matTooltip="Delete" aria-label="Delete Affiliate" color="warn" (click)="delete(aff)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="selectedId == aff.sfId">
          <button mat-mini-fab matTooltip="Cancel" aria-label="Cancel Editing" color="warn" (click)="selectedId = ''">
            <mat-icon>cancel</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="Save" aria-label="Save Changes" (click)="saved.emit(aff)">
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let aff; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div fxLayout fxLayoutAlign="center center" *ngIf="isLoading">
    <mat-spinner diameter="48"></mat-spinner>
  </div>

  <mat-paginator #paginator [length]="affiliateDataProvider.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>
