<div class="card">

  <app-icon-legend [displayedIcons]="displayedIcons"></app-icon-legend>

  <!-- <md-table #table [dataSource]="dataSource" mdSort [disableClear]="true"> -->
  <md-table #table [dataSource]="dataSource" mdSort>

    <!-- Logo Column -->
    <ng-container mdColumnDef="logo">
      <md-header-cell *mdHeaderCellDef> Logo </md-header-cell>
      <md-cell *mdCellDef="let aff" class="logo-cell">
        <img src="{{ aff.logo }}">

        <ng-container *ngIf="selectedId == aff.sfId">
          <md-form-field [style.margin-left]="'8px'">
            <input mdInput [(ngModel)]="aff.logo">
          </md-form-field>
        </ng-container>
      </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef md-sort-header="affiliate"> Affiliate </md-header-cell>
      <md-cell *mdCellDef="let aff">
        <ng-container *ngIf="selectedId != aff.sfId">
          {{ aff.name }}
        </ng-container>

        <ng-container *ngIf="selectedId == aff.sfId">
          <md-form-field>
            <input mdInput [(ngModel)]="aff.name">
          </md-form-field>
        </ng-container>
      </md-cell>
    </ng-container>

    <!-- Website Column -->
    <ng-container mdColumnDef="website">
      <md-header-cell *mdHeaderCellDef md-sort-header="website"> Website </md-header-cell>
      <md-cell *mdCellDef="let aff">
        <ng-container *ngIf="selectedId != aff.sfId">
          <a href="{{aff.website}}" target="_blank">{{aff.website}}</a>
        </ng-container>

        <ng-container *ngIf="selectedId == aff.sfId">
          <md-form-field>
            <input mdInput [(ngModel)]="aff.website">
          </md-form-field>
        </ng-container>
      </md-cell>
    </ng-container>

    <!-- Actions -->
    <ng-container mdColumnDef="actions">
      <md-header-cell *mdHeaderCellDef [style.align-items]="'center'">
        <span> Actions </span>
        <span fxFlex></span>
        <button class="refresh-button" md-icon-button (click)="refresh()"><md-icon svgIcon="refresh_grey"></md-icon></button>
      </md-header-cell>
      <md-cell *mdCellDef="let aff" fxLayout>
        <ng-container *ngIf="selectedId != aff.sfId">
          <button md-icon-button (click)="selectedId = aff.sfId">
                <md-icon svgIcon="edit_mode_grey"></md-icon>
              </button>

          <button md-icon-button (click)="delete(aff)">
                <md-icon svgIcon="delete_grey"></md-icon>
              </button>

          <a md-icon-button routerLink="/admin/affiliates/form/{{ aff.sfId }}">
            <md-icon svgIcon="description_grey"></md-icon>
          </a>
        </ng-container>

        <ng-container *ngIf="selectedId == aff.sfId">
          <button md-button (click)="selectedId = ''">
                <md-icon svgIcon="cancel_grey"></md-icon>
                <span> Cancel </span>
              </button>

          <button md-button (click)="onSave.emit(aff)">
                <md-icon svgIcon="save_grey"></md-icon>
                <span> Save </span>
              </button>
        </ng-container>

      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let aff; columns: displayedColumns;"></md-row>
  </md-table>

  <div class="spinner-container" *ngIf="isLoading">
    <md-spinner class="mat-accent"></md-spinner>
  </div>

  <md-paginator #paginator [length]="affiliateDataProvider.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
  </md-paginator>
</div>