<ng-container *ngIf="(workshopData$ | async) as either">
  <pre>{{ id$ | async }}</pre>
  <pre>{{ isLeft(either) }}</pre>
  <ng-container *ngIf="isLeft(either); else loaded">
    <pre>{{ either | json }}</pre>
    <ng-container [ngSwitch]="either.value.tag">
      <mat-spinner *ngSwitchCase="'loading'"></mat-spinner>
      <p *ngSwitchCase="'unloaded'">Data has not been loaded</p>
      <div *ngSwitchCase="'failed'">
        <p>Failure fetching workshop with id {{ id$ | async }}</p>
        <pre>{{ either | json }}</pre>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loaded>
    <ng-container *ngIf="either.value as workshop; else notFound">
      <ng-container [ngSwitch]="page">
        <app-workshop-detail
          *ngSwitchCase="'detail'"
          [workshop]="workshop"
        ></app-workshop-detail>
        <app-edit-workshop
          *ngSwitchCase="'edit'"
          [workshop]="workshop"
        ></app-edit-workshop>
        <pre>{{ workshop | json }}</pre>
      </ng-container>
    </ng-container>
  </ng-template>
  <ng-template #notFound>
    <ng-container>
      <h1>404</h1>
      <p>Workshop with id {{ id$ | async }} not found</p>
    </ng-container>
  </ng-template>
</ng-container>
