<div class="reset-page-wrapper shingo-bg">

  <!-- reset Form -->
  <div class="reset-form-container">

    <div class="reset-form-header">
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1392063084/Shingo_Logo_mini_nzegar.png">
      <h1 class="md-accent-text mat-title">Shingo Affiliate Portal &mdash; Password Reset</h1>
    </div>

    <div class="message-container">
      <p class="md-warn-text" *ngIf="errMsg"> {{ errMsg }} </p>
      <p class="md-warn-text" *ngIf="errBody">{{ errBody }} </p>
    </div>

    <form class="reset-form">
      <md-form-field floatPlaceholder="always">
        <input mdInput type="password" [(ngModel)]="password" name="password" placeholder="password">
        <md-spinner mdSuffix *ngIf="isLoading" [color]="'accent'"></md-spinner>
      </md-form-field>

      <md-form-field floatPlaceholder="always">
        <input mdInput type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" placeholder="confirm password" (keyup.enter)="onSubmit()">
        <md-spinner mdSuffix *ngIf="isLoading" [color]="'accent'"></md-spinner>
      </md-form-field>
    </form>

    <div class="reset-actions">
      <button md-raised-button class="mat-primary" type="submit" (click)="onSubmit()">Reset Password</button>
    </div>

  </div>

</div>