@import '../../../../assets/sass/_globals';

.reset-page-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute; 
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}
.reset-form-container {
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
   background-color: white;
   width: 512px;
   padding: $default-margin * 2;
}
.reset-form-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-bottom: $default-margin * 3;
}
.reset-form-header > img {
   margin-right: $default-margin * 2;
}
.reset-form {
   display: flex;
   flex-direction: column;
}
@media only screen and (max-width: 512px) {
   .reset-form-container {
      padding: $default-margin * 2;
      padding-top: 72px;
      height: 100%;
      margin: 0 auto;
   }
}
.reset-actions {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.reset-actions * {
   margin: $default-margin;
}
.reset-actions > a {
   text-decoration-line: none;
}
.md-spinner-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
}
.md-spinner-container > md-spinner {
   height: 42px;
}
.md-spinner-container h1,
.md-spinner-container md-spinner {
   position: relative;
   bottom: 48px;
   margin: $default-margin;
}
.message-container {
   min-height: 19px;
   margin-top: $default-margin * 2;
   margin-bottom: $default-margin * 2;
}