<div class="reset-page-wrapper shingo-bg">

  <!-- reset Form -->
  <div class="reset-form-container">

    <div class="reset-form-header">
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1392063084/Shingo_Logo_mini_nzegar.png">
      <h1 class="md-accent-text mat-title">Shingo Affiliate Portal &mdash; Password Reset</h1>
    </div>

    <div class="message-container">
      <p class="md-warn-text" *ngIf="errMsg" [innerHTML]="errMsg"></p>
      <p class="md-warn-text" *ngIf="errBody">{{ errBody }} </p>
    </div>

    <form class="reset-form">
      <mat-form-field floatPlaceholder="always">
        <input matInput type="password" [(ngModel)]="password" name="password" placeholder="password">
        <mat-spinner matSuffix *ngIf="isLoading" color="accent"></mat-spinner>
      </mat-form-field>

      <mat-form-field floatPlaceholder="always">
        <input matInput type="password" [(ngModel)]="passwordConfirm" name="passwordConfirm" placeholder="confirm password"
          (keyup.enter)="onSubmit()">
        <mat-spinner strokeWidth="2" diameter="28" matSuffix *ngIf="isLoading" color="accent"></mat-spinner>
      </mat-form-field>
    </form>

    <div class="reset-actions">
      <button mat-raised-button class="mat-primary" type="submit" (click)="onSubmit()">Reset Password</button>
    </div>

  </div>

</div>
