<md-toolbar class="mat-primary">
  <img [style.height]="'150px'" src="https://res.cloudinary.com/shingo/image/upload/v1478120909/ShingoLogos/mixed-logos-white.png">
  <span fxFlex></span>

  <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="isAuthenticated">
    <md-icon svgIcon="account_circle_white"></md-icon>
  </button>

  <button md-icon-button *ngIf="sidenavService.canToggle" (click)="sidenavService.toggleSidenav()">
    <md-icon svgIcon="menu_white"></md-icon>
  </button>

  <a md-button *ngIf="!isAuthenticated" routerLink="/login">Login</a>

  <md-menu #menu="mdMenu">
    <div class="menu-btn-container">
      <a class="toolbar-menu-btn" routerLink="/profile">
        <md-icon svgIcon="person_black"></md-icon>
        <p>Profile</p>
      </a>
      <!-- <a class="toolbar-menu-btn" routerLink="/support">
        <md-icon svgIcon="support_black"></md-icon>
        <p>Support</p>
      </a> -->
      <a class="toolbar-menu-btn" routerLink="/login" (click)="logoutHandler()">
        <md-icon svgIcon="logout_black"></md-icon>
        <p>Logout</p>
      </a>
    </div>
  </md-menu>

</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" [opened]="sidenavService && sidenavService.opened">
    <md-nav-list>
      <ng-container *ngIf="isAuthenticated">
        <p class="nav-list-title">Main Menu</p>
        <a md-list-item routerLink="/dashboard" routerLinkActive="active" (click)="sidenavService.close()">Dashboard</a>
        <md-divider></md-divider>
        <a md-list-item routerLink="/workshops" routerLinkActive="active" (click)="sidenavService.close()">Workshops</a>
        <md-divider></md-divider>
        <ng-container *ngIf="auth.user && auth.user.isAdmin">
          <a md-list-item routerLink="/admin" routerLinkActive="active" (click)="sidenavService.close()">Admin Panel</a>
          <md-divider></md-divider>
        </ng-container>
        <p class="nav-list-title">Affiliate Materials</p>
        <a md-list-item nohref (click)="openMaterials('workshops')" (click)="sidenavService.close()">Workshop Materials</a>
        <md-divider></md-divider>
        <a md-list-item nohref (click)="openMaterials('forms')" (click)="sidenavService.close()">Forms/Evaluations</a>
        <md-divider></md-divider>
        <a md-list-item nohref (click)="openMaterials('marketing')" (click)="sidenavService.close()">Marketing Materials</a>
        <md-divider></md-divider>
      </ng-container>

      <p class="nav-list-title">Support</p>
      <a md-list-item routerLink="/support" (click)="sidenavService.close()">Support Home</a>
      <md-divider></md-divider>
      <mat-expansion-panel class="mat-elevation-z nav-support-category" *ngFor="let category of supportCategories" [style.border-bottom]="'1px solid lightgrey'">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
            {{ category }}
          </mat-panel-title>
        </mat-expansion-panel-header>
      
        <md-list *ngIf="supportCategoryPages[category]">
          <md-list-item *ngFor="let page of supportCategoryPages[category]" class="nav-support-list-item">
            <a class="mat-caption" routerLink="/support/{{ page.Id }}" (click)="sidenavService.close()">{{ page.title }}</a>
          </md-list-item>
        </md-list>

      </mat-expansion-panel>
    </md-nav-list>
  </md-sidenav>

  <router-outlet class="main-content"></router-outlet>

</md-sidenav-container>
<div class="spinner-container" *ngIf="isLoading">
  <md-spinner></md-spinner>
</div>