.toolbar-menu-btn {
   text-decoration: none;
   color: black;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 8px 16px 8px 8px;
}
a.toolbar-menu-btn:hover {
   background-color: #e0e0e0;
}
.toolbar-menu-btn > md-icon {
   margin-right: 16px;
}
.toolbar-menu-btn > p {
   margin: 0;
}
.menu-btn-container {
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-content: left;
}