@import '../assets/sass/_globals';

.toolbar-menu-btn {
   text-decoration: none;
   color: black;
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: $defaultMargin ($defaultMargin * 2) $defaultMargin $defaultMargin;
}
a.toolbar-menu-btn:hover {
   background-color: #e0e0e0;
}
.toolbar-menu-btn > md-icon {
   margin-right: $defaultMargin * 2;
}
.toolbar-menu-btn > p {
   margin: 0;
}
.menu-btn-container {
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-content: left;
}