<!-- <md-toolbar class="mat-primary" *ngIf="isAuthenticated">   -->
<md-toolbar class="mat-primary">
  <img [style.height]="'150px'" src="https://res.cloudinary.com/shingo/image/upload/v1478120909/ShingoLogos/mixed-logos-white.png">
  <span fxFlex></span>

  <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="isAuthenticated">
      <md-icon svgIcon="account_circle_white"></md-icon>
   </button>

  <md-menu #menu="mdMenu">
    <div class="menu-btn-container">
      <a class="toolbar-menu-btn" routerLink="/profile">
        <md-icon svgIcon="person_black"></md-icon>
        <p>Profile</p>
      </a>
      <a class="toolbar-menu-btn" routerLink="/support">
        <md-icon svgIcon="support_black"></md-icon>
        <p>Support</p>
      </a>
      <a class="toolbar-menu-btn" routerLink="/login" (click)="logoutHandler()">
        <md-icon svgIcon="logout_black"></md-icon>
        <p>Logout</p>
      </a>
    </div>
  </md-menu>

</md-toolbar>

<!-- <md-sidenav-container *ngIf="isAuthenticated"> -->
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" [opened]="isAuthenticated">
    <md-nav-list>
      <p class="bold-text">Main</p>
      <a md-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a md-list-item routerLink="/workshops" routerLinkActive="active">Workshops</a>
      <a *ngIf="auth.user && auth.user.isAdmin" md-list-item routerLink="/admin" routerLinkActive="active">Admin Panel</a>
      <p class="bold-text">Affiliate Materials</p>
      <a md-list-item nohref (click)="openMaterials('workshops')">Workshop Materials</a>
      <a md-list-item nohref (click)="openMaterials('forms')">Forms/Evaluations</a>
      <a md-list-item nohref (click)="openMaterials('marketing')">Marketing Materials</a>
    </md-nav-list>
  </md-sidenav>

  <router-outlet class="main-content"></router-outlet>

</md-sidenav-container>
<div class="spinner-container" *ngIf="isLoading">
  <md-spinner></md-spinner>
</div>

<!-- Show when user is *not* logged in -->
<!-- <app-login *ngIf="!isAuthenticated"></app-login> -->