@import '../assets/sass/_globals';
@import '~@angular/material/theming';

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.sidenav-container {
  height: 100%;
}

.elevated {
  position: relative;
  z-index: 2;
  @include mat-elevation(6);
}

.toolbar-menu-btn {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $default-margin ($default-margin * 2) $default-margin $default-margin;
}
a.toolbar-menu-btn:hover {
  background-color: #e0e0e0;
}
.toolbar-menu-btn > mat-icon {
  margin-right: $default-margin * 2;
}
.toolbar-menu-btn > p {
  margin: 0;
}
.menu-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
}
div.spinner-container {
  position: fixed;
  left: 250px;
  top: 0;
  background: rgba(80, 0, 0, 0.13);
  width: 100%;
  height: 100%;
}
div.spinner-container mat-spinner {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  top: calc(50% - 64px);
  left: -150px;
}
.nav-list-title {
  color: white;
  padding: $default-margin 0 $default-margin ($default-margin * 3);
  margin: 0 -8px 0 -8px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: $primary-color-lighten-1;
}
.panel-title {
  font-size: 16px;
}
.nav-support-list-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.nav-support-list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  a {
    color: $link-color;
  }
}
.nav-support-category {
  box-shadow: none;
}
