@import '../../../../assets/sass/_globals';

.forgot-page-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute; 
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}
.forgot-form-container {
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
   background-color: white;
   width: 512px;
   padding: $default-margin * 2;
}
.forgot-form-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-bottom: $default-margin * 3;

  img {
    margin-right: $default-margin * 2;
  }

}
.forgot-form {
   display: flex;
   flex-direction: column;
}
@media only screen and (max-width: 512px) {
   .forgot-form-container {
      padding: $default-margin * 2;
      padding-top: 72px;
      height: 100%;
      margin: 0 auto;
   }
}
.forgot-actions {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.forgot-actions * {
   margin: $default-margin;
}
.forgot-actions > a {
   text-decoration-line: none;
}
.mat-spinner-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: white;
}
mat-spinner {
   height: 25px;
   width: 25px;
}
mat-form-field {
  width: 100%;
}