<div class="forgot-page-wrapper shingo-bg">

  <!-- forgot Form -->
  <div class="forgot-form-container">

    <div class="forgot-form-header">
      <img src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1392063084/Shingo_Logo_mini_nzegar.png">
      <h1 class="md-accent-text mat-title">Shingo Affiliate Portal &mdash; Password Reset</h1>
    </div>

    <div class="message-container">
      <p class="md-warn-text" *ngIf="errMsg"> {{ errMsg }} </p>
      <p class="md-warn-text" *ngIf="errBody">{{ errBody }} </p>
    </div>

    <form class="forgot-form">
      <mat-form-field floatPlaceholder="always">
        <input matInput type="text" [(ngModel)]="email" name="email" placeholder="email" (keyup.enter)="onSubmit()">
        <mat-spinner strokeWidth="2" [diameter]="28" matSuffix *ngIf="isLoading" color="accent"></mat-spinner>
      </mat-form-field>
    </form>

    <div class="forgot-actions">
      <button mat-raised-button class="mat-primary" type="submit" (click)="onSubmit()">Reset Password</button>
      <a routerLink="/login">Cancel</a>
    </div>

  </div>

</div>
