.past-due {
  background-color: #ffd8c9;
}

.in-grace-period {
  background-color: #c3cfdc;
}

mat-row.past-due:hover {
  background-color: #ddc4bc;
}
mat-row.in-grace-period:hover {
  background-color: #b7bfc7;
}

button.refresh-button {
  margin-left: 15%;
}

.location-cell > p {
  margin-top: 4px;
  margin-bottom: 4px;
}

mat-cell:not(:last-of-type),
mat-header-cell:not(:last-of-type) {
  padding-right: 10px;
}

// CSS fixes for issues in workshop-data-table.component.html
mat-cell > mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  flex-flow: row wrap;
}

.actions > button,
.actions > a {
  margin: 2px;
}
