<ng-template #actions>
  <div class="form-actions">
    <button mat-raised-button class="mat-accent" (click)="onSave()">
      {{ getButtonString(action) }}
    </button>
    <button mat-raised-button (click)="location.back()">Cancel</button>
  </div>
</ng-template>

<div
  class="form-container"
  [formGroup]="affForm"
  [class.loading-active]="pending"
>
  <div
    class="spinner-container"
    fxLayout
    fxLayoutAlign="center center"
    *ngIf="pending"
  >
    <mat-spinner diameter="48" class="mat-accent"></mat-spinner>
  </div>

  <ng-container *ngTemplateOutlet="actions"></ng-container>

  <div class="form-header">
    <h3 class="mat-headline">Affiliate Form</h3>
    <p *ngIf="affId !== ''">Salesforce ID: {{ affId }}</p>
  </div>

  <div class="form-body">
    <div class="input-item">
      <app-search
        [displayWith]="displayFn"
        [searchFn]="affiliateSearch"
        (selected)="selectedAffiliate($event)"
        placeholder="Search Existing..."
      ></app-search>
    </div>

    <div class="input-item">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required />
        <mat-error *ngIf="affForm.controls['name'].hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-item" *ngIf="affForm.controls['logo']; let logoC">
      <div
        *ngIf="!logoC.hasError('url') && logoC.value !== ''"
        class="logo-img"
      >
        <img [src]="logoC.value" alt="Logo" />
      </div>

      <mat-form-field>
        <input matInput placeholder="Logo URL" formControlName="logo" />
        <mat-error *ngIf="logoC.hasError('url')">
          Logo URL must be a valid url
        </mat-error>
      </mat-form-field>
    </div>

    <div class="input-item">
      <mat-form-field>
        <input matInput placeholder="Website" formControlName="website" />
        <mat-error *ngIf="affForm.controls['website'].hasError('url')"
          >'{{ affForm.controls['website'].value }}' is not a valid
          URL</mat-error
        >
      </mat-form-field>
    </div>

    <div class="input-item">
      <p class="mat-body-2">Contact Information</p>
      <mat-form-field>
        <input
          matInput
          placeholder="Public Contact Name"
          formControlName="publicContact"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Public Contact Email"
          formControlName="publicContactEmail"
        />
        <mat-error
          *ngIf="affForm.controls['publicContactEmail'].hasError('email')"
        >
          Public Contact Email must be a valid email address
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Public Contact Phone"
          formControlName="publicContactPhone"
        />
      </mat-form-field>
    </div>

    <div class="input-item">
      <mat-form-field>
        <mat-select
          placeholder="Languages"
          floatPlaceholder="auto"
          formControlName="languages"
          multiple
        >
          <ngx-mat-select-search
            [formControl]="languageFilterControl"
            placeholderLabel="Search languages..."
            noEntriesFoundLabel="Language not available"
          ></ngx-mat-select-search>
          <mat-option *ngFor="let lang of (languages$ | async)" [value]="lang">
            {{ lang }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngTemplateOutlet="actions"></ng-container>
</div>
