md-cell,
md-header-cell {
   flex: 2;
   padding-right: 24px;
}
md-cell:last-child,
md-header-cell:last-child {
   padding-right: 4px;
}

md-cell:first-child,
md-cell:last-child,
md-header-cell:first-child,
md-header-cell:last-child {
   flex: 1;
}
.course-type {
   display: flex;
   flex-direction: column;
   padding-left: 16px;
   margin: 0;
}
@media only screen and (max-width: 960px) {
   .course-type {
      padding: 0;
   }
}
.course-type > div{
   width: 40px;
}
md-row {
   height: 64px;
}