@import '../../../assets/sass/_globals';

a {
   padding: $default-margin;
   margin: $default-margin;
   text-decoration: none;
   background-color: transparent;
   -o-transition: 0.5s;
   -ms-transition: 0.5s;
   -moz-transition: 0.5s;
   -webkit-transition: 0.5s;
   transition: 0.5s;
}
a:hover { 
   background-color: #e0e0e0;
   cursor: pointer;
}
p {
   margin: 0;
}
p.mat-caption {
   color: #434343;
}
.video-list-item {
   margin-left: $default-margin * 2;
   margin-bottom: $default-margin * 2;
}
.video-header {
   display: flex;
   flex-direction: row;
}
.video-header p {
   font-size: 20px;
   font-weight: 400;
}
.video-body {
   padding-left: $default-margin * 2;
}
.support-title {
   font-size: 32px;
   font-weight: 300;
   margin: $default-margin;
   padding: $default-margin;
   color: #333;
}