<!-- All folders and files that deall with workshops go here -->
<md-card style="overflow-y: scroll;" class="md-whiteframe-3dp">
  <md-card-title>

    <span class="md-headline">Workshops</span>

  </md-card-title>
  <md-card-content>
    <div fxLayout="column" fxLayoutGap="8px">
      <!-- Discover Workshop -->
      <span class="clickable" (click)="folder['Discover']=!folder['Discover']"><md-icon svgIcon="folder" aria-label="Open Discover Folder"></md-icon> <b>Discover Excellence</b></span>
      <ul *ngIf="folder['Discover']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/uii6z2w8wd4lbaqw81h6k3xv7k59zv7j">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Completion Certificate"></md-icon> Completion Certificate</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/i6qzri2jgkhjhofpztzlvyvrvektu86j">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Host Site Set-Up & Agenda"></md-icon> Host Site Set-Up &amp; Agenda</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/s875jegilk3du6k3yas4nju6k5fkgs5l">
            <md-icon svgIcon="insert_drive_file" aria-label="Open NUMMI Case Study"></md-icon> NUMMI Case Study</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/1nbiwrlcpjesxz2a1kcdgw2bqlpkyuh0">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Participant Guide Book"></md-icon> Participant Guide Book</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/qjhf6q1900cwa3ioj15rzzsca6lzz0t2">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Slide Presentations"></md-icon> Slide Presentations</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/abzo82llmun6d6ndihr6m9xcx8wks0tk">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Videos"></md-icon> Videos</a>
        </li>
      </ul>

      <!-- Enable Workshop -->
      <span class="clickable" (click)="folder['Enable']=!folder['Enable']"><md-icon svgIcon="folder" aria-label="Open Enable Folder"></md-icon> <b>Cultural Enablers</b></span>
      <ul *ngIf="folder['Enable']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/74kbai22pw8anzzrcdxkc59pj9ytig6r">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Behavioral Benchmarking Sheets"></md-icon> Behavioral Benchmarking Sheets</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/40vmyun0tsopmojdy9yhhz90fog94bvv">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Case Study"></md-icon> Case Study</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/3m3jep49r7y0psznnv47fdt45ed0ljwv">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Completion Certificates"></md-icon> Completion Certificates</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/tuk593un3vtngsu68xtppzzdjv3ykxqk">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Participant Guide Book"></md-icon> Participant Guide Book</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/b3i7zjtffvghu8bqzbtkb7ljc17hdj3h">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Slide Presentations"></md-icon> Slide Presentations</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/tnlrn0lhtwqnaf7cvsrml5j0fq2vkq2d">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Videos"></md-icon> Videos</a>
        </li>
      </ul>

      <!-- Improve Workshop -->
      <span class="clickable" (click)="folder['Improve']=!folder['Improve']"><md-icon svgIcon="folder" aria-label="Open Improve Folder"></md-icon> <b>Continuous Improvement</b></span>
      <ul *ngIf="folder['Improve']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/uh7d5rr0qs4ixho6e6fjasm2eaj7k4uf">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Behavioral Benchmarking Sheets"></md-icon> Behavioral Benchmarking Sheets</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/squwroiu53c17xb95gu7dsdq8snu9zpg">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Case Study"></md-icon> Case Study</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/nfxlgc50eebwiv2apxcf3yymqy7x9fvp">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Completion Certificate"></md-icon> Completion Certificate</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/yrcmgz0pgmpy26chor7hzuqw45hhvsyd">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Participant Guide Book"></md-icon> Participant Guide Book</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/k5w7lhrhu1e473rcyha5s2j4fxft9n8a">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Slide Presentations"></md-icon> Slide Presentations</a>
        </li>
      </ul>

      <!-- Align Workshop -->
      <span class="clickable" (click)="folder['Align']=!folder['Align']"><md-icon svgIcon="folder" aria-label="Open Align Folder"></md-icon> <b>Enterprise Alignment</b></span>
      <ul *ngIf="folder['Align']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/cr34nbq4iyvbsxsdauta8fesoecyfmei">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Behavioral Benchmarking Sheets"></md-icon> Behavioral Benchmarking Sheets</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/1si5zahhxi8bac6iwcbq4yx69tnez1ej">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Case Study"></md-icon> Case Study</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/g8gbz7px9ybshbjtbs32ps4c5002is60">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Completion Certificate"></md-icon> Completion Certificate</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/19drmj2xugzoi7wwlyzwpjsba0rqumnr">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Participant Guide Book"></md-icon> Participant Guide Book</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/ovvh1vepv4f1c4m54fbr1tmiqppiy827">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Slide Presentations"></md-icon> Slide Presentations</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/1si5zahhxi8bac6iwcbq4yx69tnez1ej">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Videos"></md-icon> Videos</a>
        </li>
      </ul>

      <!-- Build Workshop -->
      <span class="clickable" (click)="folder['Build']=!folder['Build']"><md-icon svgIcon="folder" aria-label="Open Build Folder"></md-icon> <b>Build Excellence</b></span>
      <ul *ngIf="folder['Build']" class="no-bullets">
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/7ts33z6um6blsm9mj9v8tzv255ptez4p">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Behavioral Benchmarking Sheets"></md-icon> Behavioral Benchmarking Sheets</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/04x7bsvtwcmfs4dae9ajtjct8kscjmvq">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Case Study"></md-icon> Case Study</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/z9m6ew0hvcs3rjies1clwv75kof6ka5r">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Completion Certificate"></md-icon> Completion Certificate</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/vcubl5n8frb8zyy4wp4drqg6vtf09nsl">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Participant Guide Book"></md-icon> Participant Guide Book</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/userqtz2c5q8mt5x4p2ex6evhgnvws37">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Slide Presentations"></md-icon> Slide Presentations</a>
        </li>
        <li>
          <a class="mat-primary" target="_blank" href="https://usu.box.com/s/9gqriwt5yz174pt4043dmckbp1kcuv3k">
            <md-icon svgIcon="insert_drive_file" aria-label="Open Videos"></md-icon> Videos</a>
        </li>
      </ul>

      <a class="mat-primary" target="_blank" href="https://usu.box.com/s/v6pm8c6e3tasm3di6izd9p7kstscvshp">
        <md-icon svgIcon="link" aria-label="General Workshop Graphics">link</md-icon> General Workshop Graphics</a>
    </div>
  </md-card-content>
</md-card>