<div mat-dialog-content>
  <form #changePasswordForm="ngForm" fxLayout="column" fxLayoutGap="8px">

    <mat-form-field floatPlaceholder="always">
      <input matInput type="password" [(ngModel)]="password" name="password" placeholder="current password" required>
    </mat-form-field>

    <mat-form-field floatPlaceholder="always">
      <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="new password" required>
      <mat-spinner matSuffix *ngIf="isLoading" [color]="'accent'"></mat-spinner>
    </mat-form-field>

    <mat-form-field floatPlaceholder="always">
      <input matInput type="password" [(ngModel)]="confirmPassword" name="passwordConfirm" placeholder="confirm password" (keyup.enter)="onSubmit()"
        required>
      <mat-spinner matSuffix *ngIf="isLoading" [color]="'accent'"></mat-spinner>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-primary" type="submit" (click)="onSubmit()" [disabled]="!changePasswordForm.form.valid">Change Password</button>
</div>