<div md-dialog-content>
  <form #changePasswordForm="ngForm" fxLayout="column" fxLayoutGap="8px">

    <md-form-field floatPlaceholder="always">
      <input mdInput type="password" [(ngModel)]="password" name="password" placeholder="current password" required>
    </md-form-field>

    <md-form-field floatPlaceholder="always">
      <input mdInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="new password" required>
      <md-spinner mdSuffix *ngIf="isLoading" [color]="'accent'"></md-spinner>
    </md-form-field>

    <md-form-field floatPlaceholder="always">
      <input mdInput type="password" [(ngModel)]="confirmPassword" name="passwordConfirm" placeholder="confirm password" (keyup.enter)="onSubmit()"
        required>
      <md-spinner mdSuffix *ngIf="isLoading" [color]="'accent'"></md-spinner>
    </md-form-field>
  </form>
</div>
<div md-dialog-actions>
  <button md-raised-button class="mat-primary" type="submit" (click)="onSubmit()" [disabled]="!changePasswordForm.form.valid">Change Password</button>
</div>