<div mat-dialog-content>
  <form #changePasswordForm="ngForm" [formGroup]="pwForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="8px">

    <mat-form-field floatPlaceholder="always">
      <input matInput type="password" formControlName="password" name="password" placeholder="current password"
        required>
      <mat-error *ngIf="pwForm.controls['password'].invalid">{{ pwForm.controls['password'].hasError('invalidPassword')
        ? 'Invalid Password' : 'Required' }}</mat-error>
    </mat-form-field>

    <mat-form-field floatPlaceholder="always">
      <input matInput type="password" formControlName="newPassword" name="newPassword" placeholder="new password"
        required>
      <mat-spinner strokeWidth="2" diameter="28" matSuffix *ngIf="isLoading" color="accent"></mat-spinner>
      <mat-error *ngIf="pwForm.controls['newPassword'].invalid">Required</mat-error>
    </mat-form-field>

    <mat-form-field floatPlaceholder="always">
      <input matInput type="password" formControlName="confirmPassword" name="passwordConfirm" placeholder="confirm password"
        (keyup.enter)="onSubmit()" required>
      <mat-spinner strokeWidth="2" diameter="28" matSuffix *ngIf="isLoading" color="accent"></mat-spinner>
      <mat-error *ngIf="pwForm.controls['confirmPassword'].invalid">
        {{ pwForm.controls['confirmPassword'].hasError('must_match') ? 'Passwords do not match' : 'Required' }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="mat-primary" type="submit" (click)="onSubmit()" [disabled]="!pwForm.valid">Change
    Password</button>
</div>
