<mat-card class="container">
  <div fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutGap="8px" class="detail-row">
      <img class="course-img" [src]="largeImage">
      <div fxLayout="column">
        <b class="mat-subheading">{{W.type(workshop)}} ( {{workshop.Public__c ? 'Public' : 'Private'}} ) &mdash; {{W.location(workshop)}}</b>
        <p>Status:&emsp;{{W.status(workshop)}}</p>
        <button *ngIf="(canEdit$ | async)" [style.height]="'fit-content'" (click)="goToEdit()" mat-raised-button class="mat-accent"> Edit &ensp;
          <mat-icon>edit</mat-icon>
        </button>
        <br>
        <button *ngIf="canCancel" [style.height]="'fit-content'" (click)="cancel()" mat-raised-button class="mat-warn"> Cancel &ensp;
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
    <br>
    <div fxLayout="row" class="detail-row">
      <b>Dates:</b>&emsp;{{W.startDateFormatted(workshop)}} &mdash; {{W.endDateFormatted(workshop)}}
    </div>
    <div fxLayout="row" class="detail-row">
      <b>Host Site:</b>&emsp;{{W.hostSite(workshop)}}
    </div>
    <div fxLayout="row" *ngIf="W.courseManager(workshop); let manager" class="detail-row">
      <b>Course Manager:</b>&emsp;{{manager.Name}}
    </div>
    <div fxLayout="row" class="detail-row">
      <b>Organizing Affiliate:</b>&emsp;{{W.affiliate(workshop)?.Name}}
    </div>
    <div fxLayout="column" *ngIf="W.instructors(workshop); let instructors">
      <h4 *ngIf="instructors.length">Instructors:</h4>
      <div fxLayout="row" class="instructor" *ngFor="let instructor of instructors" fxLayoutGap="4px">
        <div fxLayout="column" class="instructor-details" fxLayoutAlign="start stretch" fxFlex>
          <h3>{{instructor.Name}}</h3>
          <i>{{instructor.Email}}</i>
        </div>
        <div class="instructor-img">
          <img [src]="instructor.Photograph__c" />
        </div>
      </div>
    </div>
  </div>
</mat-card>