/* You can add global styles to this file, and also import other style files */
@import './app-theme';

/* angular material fixes for using sidenav */
/*font-family: Roboto, "Helvetica Neue", sans-serif;*/
html {
  /*font-family: "Helvetica Neue", sans-serif;*/
  /*font-family: 'Open Sans', "Helvetica Neue", sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
html,
body,
.main-content {
  margin: 0;
}
a {
  text-decoration: none;
  color: #279fcd;
}
.container {
  margin: 16px;
}
/* Styling */
.shingo-bg {
  background: radial-gradient($primary-color-lighten-1, $primary-color);
}
.md-primary {
  background-color: $primary-color;
}
.md-primary-text {
  color: $primary-color;
}
.md-accent {
  background-color: $accent-color;
}
.md-accent-text {
  color: $accent-color;
}
.md-warn {
  background-color: $warn-color;
}
snack-bar-container.md-warn {
  background-color: $warn-color !important;
}
.md-warn-text {
  color: $warn-color;
}
.md-success {
  background-color: $success-color;
}
.md-success-text {
  color: $success-color;
}
.md-grey,
.grey {
  color: $grey-color;
}
.grey-text,
.md-grey-text {
  color: $grey-color;
}
.margin-none {
  margin: 0;
}

/* Sidenav */
mat-sidenav {
  margin-right: 4px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.24);
  width: 250px;
}
mat-nav-list {
  margin: 8px;
}
mat-nav-list a.active {
  background-color: #e5e5ff !important;
  border-left: 5px solid $primary-color-lighten-2;
}
mat-nav-list p {
  margin: 8px 0 8px 0;
  font-weight: 600;
}

/* Text helpers */
.bold-text {
  font-weight: 600;
}
.text-sm {
  font-size: 10px;
}
.text-md {
  font-size: 14px;
}
.text-lg {
  font-size: 18px;
}
.word-nowrap {
  white-space: nowrap;
}
.word-wrap {
  overflow-wrap: break-word;
  word-break: break-all;
}

/* Cards (because sometimes `mat-card` is just too annoying) */
.card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 0;
  margin-bottom: 16px;
}
.card-content {
  margin: 0;
}
.card-header {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: white;
  font-weight: 200;
  font-size: 16px;
  padding: 12px 16px 12px 16px;
}
.card-content {
  margin: 0;
  padding: 8px;
}
.card-actions {
  margin: 8px;
  padding: 8px;
}

/* Misc */
.hidden {
  display: none !important;
}

/* Flex helpers */
.flex-1 {
  flex: 1 0;
}
.flex-2 {
  flex: 2 0;
}
.flex-1-shrink {
  flex: 0 1;
}
.flex-2-shrink {
  flex: 0 2;
}
.flex-container {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.--flex-center {
  align-items: center;
}

/* Lookups */
.lookup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}
.input-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
@media only screen and (max-width: $break-small) {
  mat-table.admin-data-table {
    width: $break-medium-1;
  }
  app-icon-legend {
    div.icon-legend-container {
      width: $break-medium-1;
    }
  }
}

.search-holder {
  display: flex;
}

.small-light-text {
  font-size: small;
  font-weight: lighter;
}

img.thumbnail-search {
  max-height: 40px;
  max-width: 60px;
  margin-right: 10px;
}

img.thumbnail-search.profile {
  border-radius: 30%;
}

.mat-toolbar.mat-primary.logged-in-as,
.mat-toolbar.logged-in-as {
  background: grey;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// Material Angular Style Fixes

// vertical chip lists overflow their container by a small amount (the internal left padding)
// using width: fill-available fixes this, but we fall back to the original width: 100%
// for browsers that do not support fill-available
.mat-chip-list-stacked mat-chip.mat-standard-chip {
  width: 100%;
  width: -moz-available !important;
  width: -webkit-fill-available !important;
  width: -webkit-stretch !important;
  width: strech !important;
}
