<div class="reset-page-wrapper shingo-bg">
  <!-- reset Form -->
  <div class="reset-form-container">
    <div class="reset-form-header">
      <img
        src="https://res.cloudinary.com/shingo/image/upload/c_scale,h_100/v1392063084/Shingo_Logo_mini_nzegar.png"
      />
      <h1 class="md-accent-text mat-title">
        Shingo Affiliate Portal &mdash; Password Reset
      </h1>
    </div>

    <div class="message-container">
      <p class="md-warn-text" *ngIf="errMsg">{{ errMsg }}</p>
      <pre class="md-warn-text" *ngIf="errBody">{{ errBody }}</pre>
    </div>

    <form class="reset-form" [formGroup]="pwForm" (ngSubmit)="onSubmit()">
      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          type="password"
          formControlName="password"
          name="password"
          placeholder="password"
          required
        />
        <mat-spinner matSuffix *ngIf="isLoading" color="accent"></mat-spinner>
        <mat-error *ngIf="pwForm.controls['password'].invalid">{{
          pwForm.controls['password'].hasError('invalidPassword')
            ? 'Invalid Password'
            : 'Required'
        }}</mat-error>
      </mat-form-field>

      <mat-form-field floatPlaceholder="always">
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          name="confirmPassword"
          placeholder="confirm password"
          (keyup.enter)="onSubmit()"
        />
        <mat-error *ngIf="pwForm.controls['confirmPassword'].invalid">
          {{
            pwForm.controls['confirmPassword'].hasError('must_match')
              ? 'Passwords do not match'
              : 'Required'
          }}
        </mat-error>
      </mat-form-field>
      <mat-spinner
        strokeWidth="2"
        diameter="28"
        matSuffix
        *ngIf="isLoading"
        color="accent"
      ></mat-spinner>
    </form>

    <div class="reset-actions">
      <button
        mat-raised-button
        class="mat-primary"
        type="submit"
        (click)="onSubmit()"
        [disabled]="pwForm.invalid"
      >
        Reset Password
      </button>
    </div>
  </div>
</div>
