<div class="container --profile-container" fxLayout="column">
  <div class="profile-body" fxLayout fxLayoutGap="8px">
    <img class="profile-img" [src]="user.photo">
    <div fxLayout="column">
      <h1 class="mat-title">{{ user.name }}</h1>
      <strong>{{user.title}}</strong>
      <br>
      <em>{{user.email}}</em>
      <form [formGroup]="profileForm" novalidate>
        <h3>Biography</h3>
        <div class="bio" [innerHtml]="user.bio || '<em>Please contact the Shingo Coordinator with a draft biography...</em>'"></div>
        <h3>Language/Locale</h3>
        <mat-form-field>
          <input matInput placeholder="Language code" formControlName="locale" (blur)="saveLocale()">
        </mat-form-field>
      </form>
      <div class="profile-actions" fxLayout>
        <button mat-raised-button (click)="changePassword()">Change Password</button>
      </div>
    </div>
  </div>

</div>
