<div class="container --profile-container" fxLayout="column">
  <div class="profile-body" fxLayout fxLayoutGap="8px">
    <img class="profile-img" [src]="user.photo">
    <div fxLayout="column">
      <h1 class="mat-title">{{ user.name }}</h1>
      <b>{{user.title}}</b>
      <br>
      <i>{{user.email}}</i>
      <h3>Biography</h3>
      <div class="bio" [innerHtml]="user.bio || '<i>Please contact the Shingo Coordinator with a draft biography...</i>'"></div>
      <div class="profile-actions" fxLayout>
        <button mat-raised-button (click)="changePassword()">Change Password</button>
      </div>
    </div>
  </div>

</div>