@import '../../../assets/sass/_globals';

.support-page-container {
  margin: $default-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .support-page-body {
    width: 100%;
    max-width: $break-small;
  }
}