mat-form-field {
  width: 100%;
}
mat-form-field mat-spinner {
  height: 24px;
  width: 24px;
  float: right;
  opacity: 0.75;
}
mat-form-field input.autoComplete {
  width: fit-content;
  min-width: 280px;
}
div.search-spinner-wrapper {
  display: block;
}
div.search-spinner-wrapper > mat-spinner {
  position: absolute;
  top: 0;
  right: 0;
}