<div class="filter-options-container" fxLayout="column" fxLayoutGap="5px">
  <div fxLayout="row" fxLayoutGap="16px">
    <a mat-raised-button color="primary" routerLink="/workshops/new">
      <mat-icon>edit</mat-icon>
      <span>Add Workshop</span>
    </a>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Advanced Filter Options </mat-panel-title>
      </mat-expansion-panel-header>

      <div #filterBox fxLayout="column" fxLayoutGap="36px">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="column">
            <h4 class="mat-subheading">
              Filter:
              <button mat-raised-button type="button" (click)="clearFilters()">
                Clear <mat-icon svgIcon="x_red"></mat-icon>
              </button>
            </h4>
            <mat-checkbox
              *ngFor="let filter of filterFns; let i = index"
              [value]="filter.name"
              [formControl]="filterControls.controls[filter.name]"
              >{{ filter.name }}</mat-checkbox
            >
          </div>
          <div fxLayout="column" fxFlex fxLayoutGap="16px">
            <h3
              class="mat-subheading"
              *ngIf="showTextFilter || showDateRange || showStatusFilter"
            >
              Special Filters
            </h3>

            <mat-form-field *ngIf="showStatusFilter">
              <mat-select
                [style.width]="'100%'"
                [formControl]="statusControl"
                placeholder="Status"
                multiple="true"
                floatPlaceholder="auto"
              >
                <mat-option
                  *ngFor="let status of (statuses$ | async)"
                  [value]="status"
                  >{{ status }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="showTextFilter">
              <input
                matInput
                placeholder="Search..."
                [formControl]="textSearchControl"
              />
              <mat-icon matSuffix style="color: #757575">search</mat-icon>
            </mat-form-field>

            <div
              fxLayout="row wrap"
              fxLayoutGap="8px"
              fxLayoutAlign="start center"
              *ngIf="showDateRange"
            >
              <p [style.color]="'#757575'">Date</p>

              <mat-form-field floatPlaceholder="always">
                <input
                  matInput
                  [formControl]="startDateControl"
                  [matDatepicker]="startDateFilterPicker"
                  placeholder="From"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startDateFilterPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDateFilterPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field floatPlaceholder="always">
                <input
                  matInput
                  [formControl]="endDateControl"
                  [matDatepicker]="endDateFilterPicker"
                  placeholder="To"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endDateFilterPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDateFilterPicker></mat-datepicker>
              </mat-form-field>
              <button
                mat-icon-button
                type="button"
                (click)="clearDateFilter()"
                color="warn"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <mat-form-field>
          <mat-select
            placeholder="Table Fields"
            [(ngModel)]="displayedColumns"
            multiple="true"
            floatPlaceholder="auto"
          >
            <mat-option
              *ngFor="let column of allDisplayedColumns"
              [value]="column"
              >{{ column }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <app-select-all-workshops #ws>
    <app-display-async [data]="ws.vm.data$ | async">
      <ng-template focusRight let-workshops>
        <app-workshop-data-table
          class="mat-elevation-z2"
          [workshops]="filterData$(workshops) | async"
          [isLoading]="false"
          [displayedColumns]="displayedColumns"
          (editClick)="goToWorkshopEdit($event)"
        ></app-workshop-data-table>
      </ng-template>
      <ng-template focusLeft let-result>
        <ng-container [ngSwitch]="result.tag">
          <app-workshop-data-table
            *ngSwitchCase="'loading'"
            class="mat-elevation-z2"
            [workshops]="[]"
            [isLoading]="true"
            [displayedColumns]="displayedColumns"
            (editClick)="goToWorkshopEdit($event)"
          ></app-workshop-data-table>
        </ng-container>
      </ng-template>
    </app-display-async>
  </app-select-all-workshops>
</div>
