@import '../../../assets/sass/_globals';

.--profile-container {
   min-height: 90vh; /* min height pushes screen down when content doesn't take up enough vertical space */
}
.profile-body {
   margin: $defaultMargin;
}
.profile-body h1 {
  margin: 0;
}
.profile-actions {
   margin: $defaultMargin;
}
img.profile-img {
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
}
div.bio {
  padding: $defaultMargin * 2;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: white;
}