<div class="container --profile-container" fxLayout="column">
   <div class="profile-body" fxLayout>
      <div class="profile-img-container">
         <img class="profile-img" src="http://res.cloudinary.com/shingo/image/upload/c_fill,g_center,h_300,w_300/v1414874243/silhouette_vzugec.png">
      </div>
      <h1 class="mat-title"> {{ user.name }}{{ user.title ? ", " + user.title : "" }} </h1>
   </div>

   <div class="profile-actions" fxLayout>
      <button md-raised-button (click)="changePassword()">Change Password</button>
   </div>
</div>