<div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="start center" fxLayoutGap.gt-md="24px" class="container"
  fxFlex #pageRoot>
  <app-workshop [workshop]="workshop"></app-workshop>

  <div fxLayout="column" fxFlex *ngIf="showFiles">

    <div class="errors" fxLayout="column">
      <div class="error" *ngFor="let error of errors">{{error.data}}</div>
    </div>

    <div class="fileUploads" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
      <div fxFlex.gt-sm="50%" *ngIf="showAttendeeUpload">

        <app-file-drop (file)="addAttendeeList($event)" (error)="rejectedFile($event, 'attendee')" class="file-dz"
          [accept]="supportedFileTypes" [maxFileSize]="maximumFileSizeInBytes">
          <h2 class="mat-h2"><strong>Pick</strong> or drop Attendee List here</h2>
        </app-file-drop>

        <mat-progress-bar *ngIf="uploadAttendeeProgress > 0" color="accent" mode="determinate" [value]="uploadAttendeeProgress"></mat-progress-bar>

        <div class="files">
          <app-file-display *ngIf="attendeeFile" [file]="attendeeFile"></app-file-display>
        </div>

      </div>

      <div fxFlex.gt-sm="50%" *ngIf="showEvalUpload">

        <app-file-drop (file)="addEvaluation($event)" (error)="rejectedFile($event, 'eval')" [multiple]="true" [accept]="supportedFileTypes"
          class="file-dz" [maxFileSize]="maximumFileSizeInBytes">
          <h2 class="mat-h2"><strong>Pick</strong> or drop Evaluations here</h2>
        </app-file-drop>

        <mat-progress-bar *ngIf="uploadEvaluationsProgress > 0" [color]="accent" mode="determinate" [value]="uploadEvaluationsProgress"></mat-progress-bar>

        <div class="files" fxLayout="row" fxLayoutGap="8px">
          <app-file-display *ngFor="let file of evaluations" [file]="file"></app-file-display>
        </div>

      </div>
    </div>

    <button *ngIf="showAttendeeUpload || showEvalUpload" mat-raised-button class="mat-primary " (click)="upload() "
      [disabled]="!attendeeModified && !evaluationsModified">Upload Files</button>
  </div>
</div>
