$row-background-color: #f3f3f3;
$default-margin: 8px;
$default-padding: 8px;

$navbar-height: 64px;
$navbar-height-sm: 56px;

$break-xs-small: 480px;
$break-small: 600px;
$break-medium: 960px;
$break-large: 1280px;
$break-xs-large: 1920px;